[2014-06-17 15:36] hohwille opened #1 "service framework"
We need a service framework. It should ideally support both JAX-WS and JAX-RS and integrate with CDI and spring.
I managed to do this with CXF in our example (not committed).
Simon says this also works with metro from JDK OOTB. In that case this would be preferred.

[2014-06-17 21:04] hohwille opened #2 "persistence infrastructure"
For the persistence infrastructure we have to clarify how to proceed. I added m-m-m in a minimalistic way. I can do a lot more like integration of envers and support for revisioned entities and DAOs.
Simon suggested to remove m-m-m and add reimplement this as OASP module.
Marek is fan of spring-data, while Simon and I dislike the magic aspects of it.

[2014-06-17 21:10] hohwille opened #3 "configuration infrastructure"
we need some configuration module. I already created it as empty with just a constant with the spring standardized configs for reference in unit tests. The config module should at least address:
1. Access configurations (from properties files)
2. Read and Write single attributes
3. Support for reloadable configurations

Maybe something to look at:
http://www.morgan-design.com/2012/08/reloadable-ap

[2014-06-17 21:15] hohwille opened #4 "bean mapping"
For bean mapping we should create a very small shim as module. We should also discuss if dozer is the right choice. Alternatives are mapstruct or orika. Dozer might be established but it has proven to be buggy.

[2014-06-17 21:27] hohwille opened #5 "message queing"
For message queuing we will use the JMS standard. However, the technical decisions have to be clarified. Also we have to think about a natural example how to integrate this into the restaurant (maybe as an addon if this would make the example too complex or more complicated to start from the IDE but maybe it can be integrated smooth and easy).
For ActiveMQ Simon can tell a long story about the tro

[2014-06-18 08:47] hohwille opened #6 "setup CI"
We need a jenkins and preferable also a sonarqube instance. @sobkowiak you talked about a free solution that offers 3 "gears" where we could install something.
Could you try a PoC with jenkins and we will have a look? With cloudbees the free service is too limited. For m-m-m I have a private PC for this purpose what is not suitable for oasp. If we can not use a free service we can either make it i

[2014-06-18 09:34] hohwille opened #7 "concept for transfer objects"
For transfer objects we are currently using business objects (with suffix BO) that are a simple and plain equivalent of the according entities. However with such approach you easily run into the problem that you have no clear concept which "selection" of your data model you want to transfer.
Instead there is a commonly used pattern that we call the DTO and CTO pattern.
You can find a public summar

[2014-06-18 13:55] hohwille opened #8 "security solution"
Current plan:
1. Use spring-security for authorization and Java standard mechanisms for authentication (JAAS, ServletContainer)
2. Create an integration with Open-Source access manager (JONAS?) based on 1. for example app (restaurant).

[2014-06-24 12:57] hohwille opened #9 "configuration layout"
We currently have this configuration layout
- src/main/resources
  - config
  - resources

Where `config` contains configurations with the aspects
- under the control of operations
- containing properties with hostnames, passwords, ports, timeouts, etc.
- typically environment specific operations
- typically changes independent from software releases/deployments

While `resources` has the aspects

[2014-06-25 08:07] hohwille opened #10 "documentation generator"
We created the `oasp4j-documentation` module to build the documentation from our wiki as PDF or epub. This is currently only a PoC.
We need to solve the following issues:
- Internal links and anchors shall work in gollum that has limited asciidoc support. We also want them to work in the generated documentation.
- Wiki pages shall contain a TOC as this is helpful. However, the generated documentat

[2014-06-25 13:28] hohwille opened #11 "documentation clarification"
We need to address the following open points for our documentation:
1. target audience
2. application vs. enterprise scope
3. instructions vs. explanations
4. writers style

For 1. we want to strongly focus on developers. However, also designers and architects need answers. Currently we do not want to have multiple guides for different audience. If there is additional information for others than d

[2014-06-26 14:14] #9 closed, assigned to hohwille

[2014-06-27 12:26] hohwille opened #12 "wrong languange XSLT for oasp4j repo"
Our repository oasp4j is wrongly displayed as repo for XSLT.
https://help.github.com/articles/my-repository-is-marked-as-the-wrong-language

It would be great if someone could fix this but it is very low priority.

[2014-06-27 14:43] #12 closed, assigned to nobody

[2014-07-07 14:00] ohecker opened #13 "Facade for setting context info for logging/monitoring"
Within the logging output as well as e.g. for the purpose of performance monitoring certain context information should be made available. One example is a "correlationId", which can be used to bring together all log entries which belong to a certain instance of a use-case.

The file
https://github.com/oasp/oasp4j/blob/develop/oasp4j-logging/src/main/java/org/oasp/module/logging/common/api/LoggingC

[2014-07-08 08:23] hohwille opened #14 "rework IDE settings"
For our IDE settings we need some rework. Some templates for JavaDoc, etc. are in German. Also we should avoid redundant and overloaded information.

Instead this is already sufficient:

New types currently get $Id$ generated as version what is pointless and shall be removed (in template and existing code).

We need to verify that checkstyle is properly preconfigured and also the dictionary.

[2014-07-16 13:48] hohwille opened #15 "application template"
We need to provide a template for an OASP4J application. Technically this could be realized as maven archtype. We should wait until the sample application has matured and we can easily extract it from there by removing the individual code.

[2014-07-16 13:51] #6 closed, assigned to nobody

[2014-07-16 13:55] #11 closed, assigned to nobody

[2014-07-16 18:33] hohwille opened #16 "architecture documentation"
The architecture documentation has to be written. We need updated diagrams, etc.
https://github.com/oasp/oasp4j/wiki/architecture

IMHO we should address both application architecture and enterprise architecture.

[2014-07-16 18:36] hohwille opened #17 "documentation of logic layer"
The documentation of the logic(al) layer needs a complete rework:
https://github.com/oasp/oasp4j/wiki/guide-logical-layer

[2014-07-16 18:46] hohwille opened #18 "bean mapping and optimistic locking"
We use optimistic locking via the @Version Long attribute.
However, hibernate updates the version when the transaction gets committed. This is done after the entities are converted to transfer-objects so as a result of a write operation the client will receive wrong versions.
The two possible approaches are:
- use an explicit flush() on entityManager
- keep an internal transient reference of the m

[2014-07-16 18:52] hohwille opened #19 "monitoring infrastructure"
We have created a minimal infrastructure for monitoring and related aspects such as loadbalancer status.
We need to consolidate the best practices we have for JMX and integration into tools such as nagios, etc.
This should result in improvements to our monitoring module and the sample application.

[2014-07-16 19:17] hohwille opened #20 "validation documentation"
We need to complete the validation documentation.
I just created an inital draft:
https://github.com/oasp/oasp4j/wiki/guide-validation

See also oasp/oasp4j-sample#16

[2014-07-22 11:06] hohwille opened #21 "improve CI to build all branches"
should be easy as jenkins supports this OOTB for git:
http://stackoverflow.com/questions/15344955/hudson-jenkins-git-build-all-branches
We still need to evaluate this and e.g. see what happens if you build the job manually.

[2014-07-26 10:56] sobkowiak opened #22 "Install Nexus repository"
We need own Nexus instance to hos our SNAPSHOTs until we can deploy or into OSSRH. We will need it also to deploy the private modules.

[2014-07-26 11:01] sobkowiak opened #23 "Deploy snapshots into Nexus repository"
The Nightly Build job should deploy the artifacts into Nexus repository (until we can deploy it OSSRH).

[2014-07-28 08:55] tbialecki opened #24 "Consider using lombok"
Lombok is a project which reduces amount of boilerplate code written in every java project. Autogenerated getters, setters, equals, hashCode functions and even loggers.
Maybe using Framework which allows to generate this code for us would be reasonable. Colleague from other project used it in big commercial project with grate success. What do you think about it ?

[2014-07-30 08:16] #14 closed, assigned to nobody

[2014-08-12 07:34] anujk26 opened #25 "Is Dozer optimal for Object-Object Conversion or does it adds overhead ?"
I see that we are using Dozer for object-object transformation , which is a common aspect in data driven application. Is Dozer optimal and performant , i used it long time back and it was too slow , is it better now ?
Do we have some guidelines where to use it and where to rely on Manual copy.

Not sure the reliability but seems some comparision have been done http://blog.sokolenko.me/2013/05/doze

[2014-08-12 07:57] anujk26 opened #26 "Has anyone tried to generate JSON Schema from JJSchema Lib ?"
https://github.com/reinert/JJSchema provides annotation based json schema generator. Which then can be used by jackson based parser to validate the response. Initial impression is good , one of the attributes available is pattern , which allows for Regex and helps in taking care of JSON fuzzers.

[2014-08-18 14:39] #25 closed, assigned to nobody

[2014-08-19 06:13] #10 closed, assigned to nobody

[2014-08-19 06:37] hohwille opened #27 "documentation generation: images not working"
Currently images are not working in the generated documentation.
I have already added a build step in the ant script that copies them to the target/docbook folder but it still does not work. I need to do some more investigation what is going wrong...

[2014-08-19 10:23] #27 closed, assigned to hohwille

[2014-08-20 07:03] agreul opened #28 "UnitTesting of Rest and Web Services"
We want to be able to easyly test our services with junit. The goal is to start a minimal server to test different services within the junit test.

[2014-08-21 10:26] hohwille opened #29 "Decide for JAX-WS implementation"
According to issue #1 we decided for CXF as JAX-RS implementation. CXF also implements JAX-WS so it would be an option to use it for both JAX-RS and JAX-WS. However we have the greater experience with Metro2 what is also the reference implementation. We finally have to make a decision here.

[2014-08-21 10:29] hohwille opened #30 "Implement exception facade for JAX-WS and move facade code to oasp4j module"
We have created a generic exception facade for JAX-RS in our sample application. We should move this code to a new oasp4j-service module (maybe seperate between WS and RS).
For JAX-WS we should try to implement the same thing and integrate it properly with the JAX-WS framework implementation. See also issue #29.

[2014-08-21 11:34] hohwille opened #31 "service documentation"
the service documentation is already quite helpful but for SOAP/WS essential parts are missing and we need to add details examples for code and config. From the sample application we are already far enough to provide the fitting examples...

[2014-08-21 11:50] #1 closed, assigned to hohwille

[2014-08-21 16:35] #26 closed, assigned to nobody

[2014-08-22 11:28] #24 closed, assigned to nobody

[2014-08-29 12:34] hohwille opened #32 "NPEs and ClassCastExceptions in security code (example)"
Secrity is castring UserProfile to String causing ClassCastException and calling toString on null causing NPE.

[2014-08-29 12:41] hohwille opened #33 "Rest services compatibility/regression bug"
JSON payload format of rest services changed accidentally (due to issue oasp/oasp4j-sample#14).
Now we get this:
["java.util.ArrayList",[{"@type":"TableBo","id":1,"version":0,"waiterId":null,"state":"OCCUPIED"},{"@type":"TableBo","id":2,"version":0,"waiterId":null,"state":"FREE"},{"@type":"TableBo","id":3,"version":0,"waiterId":null,"state":"FREE"},{"@type":"TableBo","id":4,"version":0,"waiterId":

[2014-08-29 13:26] #33 closed, assigned to hohwille

[2014-08-29 13:26] #32 closed, assigned to hohwille

[2014-08-29 13:31] hohwille opened #34 "refactor groupId and base package of entire oasp(4j)"
I know that it is a total pain but the domain oasp.org was taken while our ordering process was about to buy it. We will keep the name OASP but we can not keep the namespace oasp.org.

[2014-08-29 13:31] #30 closed, assigned to nobody

[2014-09-01 08:08] #16 closed, assigned to hohwille

[2014-09-03 10:06] hohwille opened #35 "REST/JSON: (de)serialization of custom datatypes"
If we use custom datatypes they are no regular java beans. Hence we need to figure out how to map them to and from JSON with jackson. In our sample application we already have MonetaryAmount that is currently not mapped correctly. Here we should demonstrate how to do it properly and also describe this in the documentation (guide-datatype and esp. guide-service-layer).

[2014-09-03 10:24] hohwille opened #36 "persistence: mapping of composite custom datatypes"
We have created a PoC how to map a composite datatype (MonetaryAmount) via hibernates composite usertype. This is working for the mapping but causing problems in queries:
You can not create queries with selection based on the individual attributes of the composite datatype.
IMHO this is a bug or at least a general deficit in hibernate. Why does it work with embedabbles? Because they are part of th

[2014-09-03 12:33] hohwille opened #37 "security: integration of oasp4j and oasp4js"
If we bundle up the sample app of oasp4j together with the oasp4js sample things need to work together properly. In beans-security.xml we defined this config line:
<filter-chain pattern="/jsclient/**" filters="none"/>

Is the plan that the client is located in oasp4j-example-application/jsclient/\* ?
So in order to start the application one needs to open the pathoasp4j-example-application/jsclient

[2014-09-03 12:36] #13 closed, assigned to nobody

[2014-09-04 08:51] #35 closed, assigned to nobody

[2014-09-04 12:43] hohwille opened #38 "REST/JSON: upgrade of jackson"
I just realized that the configured integration class for plugging Jackson into CXF is provided by Jackson itself:

We should therefore start an evaluation if we are ready to upgrade to the new version (`com.fasterxml.jackson`) as for the long run `org.codehause.jackson` is a dead end.

[2014-09-04 13:08] hohwille opened #39 "maven: extract dependencyManagement to oasp4j-dependencies POM"
For the OASP4J we use spring-boot-dependencies as basis. However we add some additional dependency versions and might also override some things some day.
Currently we have this in our oasp4j parent POM that also contains the build logic.
I want to separate this into a separate POM so it can be used by projects as parent POM without interfering the build in any way (potentially also as dependency w

[2014-09-04 13:10] hohwille opened #40 "documentation generation: extract to generic/reusable solution"
We have created a really cool documentation infrastructure and also want to use if for other things such as OASP4JS or some of our tools.

[2014-09-04 13:47] #38 closed, assigned to nobody

[2014-09-04 17:26] #39 closed, assigned to hohwille

[2014-09-04 17:29] hohwille opened #41 "documentation: create tutorial"
In addition to our documentation we are planning to have a step by step tutorial. This will partially overlap with our existing documentation that is still the heart of all...

[2014-09-09 12:31] agreul opened #42 "documentation: guide persistence needs revisiting"
The guide persistence needs to be updated as description does not always match the shown examples.

[2014-09-10 19:58] joedoehh opened #43 "oasp4j-example-application: can not build because pom referencing not existing parent pom"
issue:
unable to build example application using both maven from command line ("maven clean install") or in eclipse with m2e plugin

root cause:
1: oasp4j-example-application/pom.xml is referencing non-resolvable parent pom

  <parent>
    <groupId>org.oasp.java</groupId>
    <artifactId>oasp4j-example</artifactId>
    <version>1.0.0-SNAPSHOT</version>
  </parent>

2: oasp4j-sample/pom.xml is refe

[2014-09-10 20:27] joedoehh opened #44 "check in eclipse project facets configuration"
as eclipse project configuration is quite buggy together with the (even buggy) m2 maven plugin it can come to tricky situations in getting the project facet settings in eclipse right. fixing errors wil start m2e to reneter wrong values. this is quite annoying for anyone not known to the details of eclipse facets (always use apply for every step).

as i have been told only source, resource and pom.

[2014-09-11 06:52] #43 closed, assigned to nobody

[2014-09-11 08:42] #34 closed, assigned to nobody

[2014-09-12 16:00] hohwille opened #45 "consider flyway"
Database migration for release upgrades is a big and important topic.
Flyway (http://flywaydb.org/) seems to be a great solution for this problem. I got input and demands for it from various different sources. We should take a close look and consider this for our example...

Initially I did not like the idea of triggering a database migration as "side-effect" when starting the new release as serve

[2014-09-12 21:05] sobkowiak opened #46 "Upgrade to CXF 3.0.1"
The CXF community has released some weeks ago a new fix release with over 80 fixes. We should upgrade to the new version

[2014-09-15 08:24] #44 closed, assigned to nobody

[2014-09-15 09:07] hohwille opened #47 "URL schema for REST and SOAP: case, hyphen, underscore, etc."
Currently we have no strict schema for our service URLs. We have REST services that are all lowercase and we have SOAP services using CamlCase. Also our documentation is not yet complete for this aspect (CamlCase, versioning, etc.).
While I personally like CamlCase most REST guys consider this as bad practice:
http://stackoverflow.com/questions/778203/are-there-any-naming-convention-guidelines-for

[2014-09-15 10:51] #40 closed, assigned to nobody

[2014-09-15 12:15] hohwille opened #48 "remove MonetaryAmount (JSR 354) dependecy"
While the RI of JSR 354 (moneta) is licensed ASL2.0 the API has a proprietary license from Credit Suisse that is not compatible for us (too many restrictions, only evaluation permitted).
This will be solved when the JSR is completed and finalized. As there is no final deadline we do not want to block our own readmap and have to remove it (temporary) from our codebase.
I know that this is a pain as

[2014-09-16 07:28] #7 closed, assigned to nobody

[2014-09-16 11:02] #18 closed, assigned to nobody

[2014-09-16 11:06] #46 closed, assigned to hohwille

[2014-09-17 09:40] hohwille opened #49 "Release oasp:0.2.0"
Create an (internal) release 0.2.0, approve, distribute, and announce it.
We are leaving alpha state and enter beta with this version.

[2014-09-18 11:31] hohwille opened #50 "JAX-WS exception facade shall return error information as JSON"
currently the JAX-WS exception facade is creating a custom string with error information in case an error occurred. Format is e.g. {UUID}:{message}. Instead we should use JSON for this purpose so the client can rely on the payload and does not have to implement a strange parser (sometimes UUID is present, sometimes not, etc.).

[2014-09-19 10:06] hohwille opened #51 "REST/JSON: create service to retrieve proper order in status open for table with given ID"
Currently the JSClient can not properly use our REST API as there is no service to retrieve a complete order in status open for a table with a given ID.
Suggested REST URL is:
http://host:port/oasp4j-example-application/services/rest/salesmanagement/order?state=open&tableId=4711

This shall return a list of OrderCto that combines OrderEto with a List of OrderPositionEto. The returned list is eithe

[2014-09-19 19:25] #51 closed, assigned to hohwille

[2014-09-19 20:48] hohwille opened #52 "blob support"
We need a general and generic solution how to deal with BLOBs. What we currently have in our sample is bad design. We need to introduce a separate Picutre or File entity that we can associate with other entities. Further we should use java.sql.Blob and stream the data for uploading and downloading via HTTP. For upload via mime multipart.
Unfortunately web-technology support for this is very poor.

[2014-09-19 21:11] #8 closed, assigned to nobody

[2014-09-19 21:27] hohwille opened #53 "use backend auth instead of login+password REST login service?"
As discussed in oasp/oasp4j-sample#31 we should try to do the regular login via solution provided by the backend and check if we can use a browser popup window for re-authentication in case of session timeout. If this would work out properly we would decouple the client code from the authentication mechanism making it more portable (in case one would like to use SPNEGO, 2FA/TOTP, OAuth, etc.).
If

[2014-09-19 21:31] hohwille opened #54 "PoC for validation"
We need to add validations using BV.
This should be integrated with the GUI.
https://github.com/oasp/oasp4j/wiki/guide-validation

BTW: is there an OSS project (e.g. spring) that already provides an aspect for method validation? Otherwise we should provide this in the OASP.

[2014-09-22 06:41] may-bee opened #55 "Faulty implementation of equals methods"
For more context see oasp/oasp4j-sample#37.

Well, yes there is a check in EntityTo class of mmm-util-core-5.0.0, but I would guess that these equals implementation will not work properly. Here the first lines until the class check:

[code]

You see that super will be called also here in EntityTo. I searched in the type hierarchy of EntityTo for the next super implementation of equals and I found

[2014-09-23 07:05] #22 closed, assigned to nobody

[2014-09-24 15:17] #36 closed, assigned to nobody

[2014-09-24 15:28] hohwille opened #56 "create sample batch and batch documentation (guide) based on JSR352"
For batches we want to suggest using JSR352 with spring-batch as implementation.
However there are a lot of additional best practices and we want to have a sample batch to show how to do it properly.
I already talked to Vishal who will take over this topic.
As scenario we picked a batch that will generate a report of all orders and order positions (potentially inc. bills) for the last X years or s

[2014-09-24 15:31] hohwille opened #57 "After successful login it is possible to redirect to login page"
1. Login to the application (for example as "waiter")
2. You are redirected to services overview page (fine)
3. Change url to "http://localhost:8080/oasp4j-example-application/" (or .../security/login)
4. Result: you get redirected to login page again and be greeted with "You have insufficient permissions to access this page!".
   Expectation: you should see a welcome page or get redirected to the

[2014-09-25 14:04] hohwille opened #58 "remove currency from JSON API"
As a leftover of issue #48 we still have the currency of monetary amounts in the JSON API

however the currency is now static and configured by a constant as this makes sense for a restaurant and follows KISS. Therefore the currency is ignored when JSON is send from the client.
The OASP4JS team should add a static configuration constant for the currency in their client as well and then we can chan

[2014-09-25 14:04] #48 closed, assigned to nobody

[2014-09-25 14:40] hohwille opened #59 "Technical architecture not accessible"
The technical architecture image is currently not properly accessible. We got feedback from a person with red/green deficiency that he can not properly distinguish allowed and prohibited dependencies.
Beside the color we should also distinguish by line-style with reference in text.

[2014-09-25 19:12] #23 closed, assigned to nobody

[2014-09-25 19:29] sobkowiak opened #60 "Use OASP Nexus in Jenkins jobs"
We should be able to use our Nexus instance in Jenkins jobs.
1. We should provide a special settings.xml with configured access to the Nexus instance
2. The nightly build jobs should deploy snapshots in Nexus
3. We should reconfigure the job deploying the test application to use the artifacts deployed in Nexus to build assembly the application. Currently the job builds oasp4j and oasp4j separately

[2014-09-25 19:36] sobkowiak opened #61 "Upgrade to CXF 3.0.2"
CXF 3.0.1 has still some errors which will be solved in 3.0.2 (https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12310511&version=12327373). We should provide a high quality CXF integration before we release OASP 1.0.0. So, I think we should integrate the next CXF fix releases.

[2014-09-25 19:57] sobkowiak opened #62 "Upgrade to Spring Boot 1.1.7"
The current GA release is 1.1.7. We should discus whether we should upgrade to the newest 1.1.x release before we release OASP4J 1.0.0. I think, we should do this shortly after releasing 0.2.0 to have time to identify eventual problems.

[2014-09-25 20:15] sobkowiak opened #63 "Provide an use case for JMS usage in sample"
We need an use case to be implemented as a sample usage of sending/receiving jms messages.

[2014-09-25 20:25] sobkowiak opened #64 "Decide for JMS broker"
If OASP4J based application will be deployed on an application server then the JMS implementation provided by the server should be used. In case the application will be deployed on web container should recommend a JMS broker which can be used for the application. We should also provide this broker in our sample application.

This issue is to start a discussion about broker we should use.

[2014-09-25 21:00] sobkowiak opened #65 "Construct a complex test scenario/broker topology for JMS poc"
@maihacke has mentioned in #5 a problem they had in production using ActiveMQ. We should construct similar test case which we could use to check whether the problem still occurs.

[2014-09-25 21:12] sobkowiak opened #66 "Messaging documentation"
We should provide [documentation](https://github.com/oasp/oasp4j/wiki/guide-queueing) for JMS messaging.

[2014-09-26 07:44] #59 closed, assigned to nobody

[2014-09-26 12:25] hohwille opened #67 "package of TOs"
I have already moved the base classes `AbstractEto` and `AbstractCto` to `general.common.api.to`. From a discussion we will also move the concrete Eto and Cto classes to `component.common.api.to`.

Reason: The Transferobjects of a business component are not specific or explicitly limited or dedicated to the logic layer. There was also a discussion that they would belong to the service layer (out o

[2014-09-29 13:14] hohwille opened #68 "tomcat: check encoding"
Currently our tomcat seems to depend on the system encoding (that might be ISO-Latin) while our standard encoding is UTF-8 and therefore also our data (import.sql, database content, etc.). This seems to cause broken characters when database content with e.g. German umlauts are displayed in the UI.

[2014-09-29 13:37] hohwille opened #69 "jsclient as first class citizen"
When we start the sample application the user should automatically see the jsclient as welcome page.
CXF service overview and internal login page (in current state) are only for developers.

[2014-09-29 13:57] #69 closed, assigned to hohwille

[2014-09-29 14:04] #68 closed, assigned to hohwille

[2014-09-29 14:11] hohwille opened #70 "REST/JSON: create service to save/update order"
Currently our JSON API is not properly prepared for saving an Order in a symmetric way as we can get/find orders.
The service must take as OrderCto via JSON and update the order with all its OderPositions including deletion of OrderPositions not in use anymore. We better implement the latter case manually instead of using hibernate magic (delete orphaned) as we have to validate that no OrderPositi

[2014-09-29 21:42] #70 closed, assigned to hohwille

[2014-09-30 06:47] maybeec opened #71 "Invalid maven build with remote oasp4j-parent pom"
We observed in our oasp4j research project, that the parent pom resolution seems to be faulty in maven 3:

If you build a new application
- with the oasp4j-parent as parent pom
- without checkout the oasp4j repository by side
- on a clean local maven repository (especially without any pre-installed oasp4j artifacts),

you will get this exception:

[code]

A [bug](http://jira.codehaus.org/browse/MS

[2014-09-30 09:27] hohwille opened #72 "REST/JSON: create service to create new order"
There is no proper service currently available to create a new order for a table.
According to our standards the API would be:

[2014-09-30 09:39] agreul opened #73 "RestServices need a URI extension"
The current URIs for Offermanagement and Staffmanagement do not meet the convention of naming the entities after the *management in the URI. Example: .../tablemanagement/table/..., .../salesmanagement/order/..., .../salesmanagement/bill/... etc.
We therefore need to extend the current URIs with the naming of the entities after adressing the *management.
Note: This can only be done in cooperation w

[2014-09-30 09:42] #72 closed, assigned to hohwille

[2014-09-30 09:51] #29 closed, assigned to nobody

[2014-09-30 11:30] hohwille opened #74 "Sample: Remove INIT from OrderState"
The OrderState.INIT is IMHO only causing problems but no value.
A new Order should be in OPEN state until all positions are payed and then go to CLOSED state.
There can only be one or no Order per Table that is in OPEN state.

[2014-09-30 11:34] #71 closed, assigned to nobody

[2014-09-30 15:30] #49 closed, assigned to hohwille

[2014-10-01 07:21] #73 closed, assigned to nobody

[2014-10-02 04:57] sobkowiak opened #75 "Version in pom files should reflect the release version"
We have released `0.2.0` having `1.0.0-SNAPSHOT` version in pom.
- release should never have `SNAPSHOT`in version
- release should have the same version in pom as the release version.

The current state in pom in `development`branch is correct but we must ensure the release `1.0.0` has correct version (`1.0.0`) in pom and after releasing it the version in `development`is increased to `1.0.1-SNAPSH

[2014-10-02 05:02] sobkowiak opened #76 "Document the deployment/releasing process"
We need a small how-to about releasing OASP.

[2014-10-06 07:33] #75 closed, assigned to nobody

[2014-10-08 11:35] hohwille opened #77 "security: create simple generator for constant class from XML"
We should add a little tool to oasp4j-security that can generate a java class (type or interface) with the constants for all permissions from the security XML config (default location is classpath:config/app/security/access-control-schema.xml). The target package should be given as argument to the main method. Target directory should be "src/main/java" relative to current working directory by defa

[2014-10-08 15:34] #50 closed, assigned to hohwille

[2014-10-08 21:52] #62 closed, assigned to nobody

[2014-10-09 07:21] sobkowiak opened #78 "Applying pull request procedure"
We should make here some discussion about applying pull requests.

[2014-10-09 11:39] #2 closed, assigned to nobody

[2014-10-09 14:57] hohwille opened #79 "Release oasp:1.0.0"
We have to create the actual release of OASP 1.0.0.
This time this includes a proper releasing with correct POM versioning, tagging, deploying and staging to central repo.

[2014-10-09 15:00] hohwille opened #80 "Enable staging of oasp artifacts to maven central."
We need to follow OSSRH process to enable staging of our modules to maven central repo:
http://central.sonatype.org/pages/ossrh-guide.html

[2014-10-09 15:07] hohwille opened #81 "Wipe initial git repository history"
Before we officially open our doors and make repositories public, we will wipe the history of the repositories. This will avoid that historic states contain constellations with license incompatibilities (see #48) can be reconstructed and released.

The only bullet proof way to do this is to rename the private repos before opening by adding some suffix such as "-priv" then create the repo new as em

[2014-10-09 16:07] hohwille opened #82 "odd code dependencies in sample application"
our sample application has some dependencies from the general component to more specific business components. The dependencies should only occur the other way round.
We should fix the code to prevent this as the sample should be quality code.

[2014-10-15 12:35] hohwille opened #83 "Architecture of OASP and alternative concepts"
We received feedback from others that have different architecture approaches compared to what the OASP propagates. We strongly believe that the architecture currently suggested is scalable and suitable.
Also we do not want to over-complicate things but we have to take the feedback serious.
Issues are:
- names of the layers (e.g. facade vs. service layer)
- utilization of layers (components can acc

[2014-10-16 07:48] hohwille opened #84 "prepare example for application template"
Our sample application is a restaurant. It has some generic classes for decoupling and templating that can be reused. However, they are named using the prefix `Restaurant`.
This are the exceptions and persistence shim classes.

We want to rename them to the prefix `Application` so they become neutral and can be used as template if somebody likes to use them when creating a new application based on

[2014-10-16 07:57] #84 closed, assigned to hohwille

[2014-10-16 08:38] maybeec opened #85 "Deployment security guidelines"
Security is an ongoing topic as demonstrated by the latest issues:
Heartbleed, Shellshock and Poodle Attack regarding the vulnerability of SSLv3

When deploying software, we have to cope with multiple configuration tasks of different technologies like apache, tomcat or maybe also mail servers like postfix. On the latest ccc-conference a nice collection of the latest recommended configurations have

[2014-10-16 09:11] hohwille opened #86 "OWASP A4: Insecure Direct Object References"
OWASP A4:
https://www.owasp.org/index.php/Top_10_2013-A4-Insecure_Direct_Object_References

We are not generally avoiding direct object references and that is for good reason.
But we have to outline the impact and ensure the awareness of the problems.
This means that we have to ensure that authorization is bullet proof so a simple REST serivce
https://.../entity/4711
will only reveal data the actu

[2014-10-16 21:08] #61 closed, assigned to nobody

[2014-10-17 09:24] #74 closed, assigned to nobody

[2014-10-20 09:38] hohwille opened #87 "CI nightly job should build site or at least javadoc"
We need to have our nightly build job generate the maven site or at least the javadoc of oasp4j and make it available to the public. The documentation then can directly reference to the javadoc.
A Java OSS project is expected to have is javadoc public available.

[2014-10-20 09:43] #82 closed, assigned to nobody

[2014-10-20 11:28] hohwille opened #88 "create web module"
The oasp4j should provide a module oasp4j-servlet with reusable code.
There we could move `ToggleFilterWrapper` and we could also add standard solutions such as a generic proxy servlet that is IMHO not already provided by spring but needed by various projects.

[2014-10-20 12:15] hohwille opened #89 "remove RestService marker interface"
We created a marker Interface `RestService`. The initial plan was that service implementation would be registered automatically to CXF when they implement this interface. However as CXF does not work this way and we want to avoid creating unnecessary "framework" code that narrows flexibility we currently only have it as simple marker to find the rest services what can already be done via the namin

[2014-10-20 12:49] #89 closed, assigned to hohwille

[2014-10-20 14:14] #88 closed, assigned to nobody

[2014-10-21 10:54] #58 closed, assigned to nobody

[2014-10-21 19:55] maihacke opened #90 "Cleanup testdata sql"
We have to files with test data at the moment
src/main/resources/import.sql
src/main/sql/testdata.sql

this should be cleaned up

[2014-10-22 09:27] hohwille opened #91 "create integration test infrastructure and rest service tests"
We need tests for our rest services. We already tried lightweight testing with issue #28 but struggled with the infrastructure. What we instead want to do is:
1. create a new project in oasp4j-sample for integration tests.
2. in this new project create an infrastructure for integration tests that can launch our application before tests are executed and will properly shutdown after the tests are co

[2014-10-22 12:19] julianmetzler opened #92 "Make sure that all Services use access control"
Apply a Unit Test, that checks that every REST Service method has the `@RolesAllowed` annotation applied.

[2014-10-22 13:45] maihacke opened #93 "Use IDs in logic layer where possible"
At the moment we always ETOs in logic layer method signatures, e.g deleteBill(BillEto), doPayment(BillEto), deleteProduct(ProductEto).

In the service layer only the ID is available. This leads to the following pattern

  public boolean deleteBill(@PathParam("billId") Long billId) {
    return this.salesManagement.deleteBill(getBill(billId));
  }

  public PaymentStatus doPayment(@PathParam("billI

[2014-10-24 07:33] hohwille opened #94 "architecture: it should be allowed to invoke usecase / logic in another component."
I got this feedback from @vishalkothari

You are correct and we have already discussed this. The architecture is too restrictive here as it would force you to create an indirection in your logic layer to access logic from another component. This makes sense in various cases but should not be enforced.

The same also applies for dialogs that might want to access services from other components. Assu

[2014-10-24 09:35] #94 closed, assigned to hohwille

[2014-10-28 08:13] #90 closed, assigned to nobody

[2014-10-28 08:58] #92 closed, assigned to nobody

[2014-10-28 09:31] hohwille opened #95 "Avoid pointless getAll* methods"
A strange habit has caused that we have `getAll*` methods in DAOs and Use-Cases even for entities that are unbounded. This is not only pointless - it can cause big harm if developers actually call these methods. Assume you would call `getAllOrders()` in production after millions of orders have been created in the database. This could nuke your entire server application.
This is also the reason why

[2014-10-28 11:33] #95 closed, assigned to nobody

[2014-10-28 11:37] hohwille opened #96 "refactore usecase packaging"
I have created various SonarQube rules to check our architecture.
This now caused various violations. One of them is that we have the component interface in api scope but the Uc-Interfaces in base scope while component interface extends the Uc-Interfaces.
The general rule is however that _.api._ must not depend on _.base._ or _.impl._.

Solution is:
We move the Uc-Interfaces to the api scope (wher

[2014-10-28 11:56] #96 closed, assigned to hohwille

[2014-10-30 07:51] hohwille opened #97 "persistence: use JPA standard AttributeConverter instead of proprietary (and complex) UserType"
Last night I figured out JPA AttributeConverter and implemented this in the mmm project:

https://github.com/m-m-m/mmm/blob/master/mmm-util/mmm-util-core/src/main/java/net/sf/mmm/util/lang/base/datatype/adapter/jpa/AbstractSimpleDatatypeAttributeConverter.java

https://github.com/m-m-m/mmm/blob/master/mmm-util/mmm-util-core/src/main/java/net/sf/mmm/util/lang/base/datatype/adapter/jpa/VersionIdenti

[2014-10-30 09:01] #97 closed, assigned to nobody

[2014-10-30 09:03] hohwille opened #98 "persistence: use JPA standard for named queries"
Currently the named queries are the last part of our sample where we rely on hibernate specific features. As a goal of the OASP is to rely on open standards where possible we should try to use JPA here as well.

[2014-10-30 09:07] hohwille opened #99 "exceptions: UUID not logged by logback (update to mmm-util-core:6.0.0)"
Currently the UUID of an exception is not logged. This renders the entire concept behind the UUID to be useless.
https://github.com/m-m-m/mmm/issues/120

We only need to update to the new version as soon as it is released in maven central.

[2014-10-30 12:32] #98 closed, assigned to hohwille

[2014-10-30 12:42] #28 closed, assigned to nobody

[2014-10-30 15:01] hohwille opened #100 "Sample: priority for OrderPosition"
Taking position of the "kitchen view" of orders, it might be useful to introduce priorities for OrderPositions; e.g. in case of orders from kids menu as parents mostly want to have their kids served first or in any other urgent case.

[2014-10-30 15:03] hohwille opened #101 "Sample: model of Order and OrderPosition not sufficient?"
If the waiter takes an order for an Offer an OrderPosition is disposed.
An Offer at maximum consists of a Drink, a Meal, and a SideDish and has a price for the total of this set.
Now in real life the waiter will serve the drink quickly while the kitchen (cook) prepares the meal and side dish. The cook can mark the OrderPosition as ready to signalize the waiter that he can bring it to the table and

[2014-10-30 15:51] hohwille opened #102 "Sample: Advanced features for future showcases"
I case we want to have some more complex use-case here are some ideas for our restaurant:
* Special: Every Monday the price of all alcoholic drinks is lowered by 10% per Hour.
* Special: For a special time-range of X weeks that is announced in advanced you get the chance
for a "discount lottery". So after the time-range is closed a winning number is chosen by random
and if your bill receipt matche

[2014-10-30 15:57] hohwille opened #103 "Sample: consistent naming (e.g. usecase methods)"
Currently we have a mixture of method prefixes `get`, `find` and `search` in use-case methods. However, all variants act for the same purpose. Therefore the current code appears somehow unclean and can cause confusion.
We should not waste time with complex naming rules but instead just use one single variant consistently. The suggestion is to use `find` and replace the other variants (also in DAO

[2014-10-31 10:09] #103 closed, assigned to hohwille

[2014-10-31 10:36] #93 closed, assigned to nobody

[2014-10-31 10:41] hohwille opened #104 "use generic AbstractGenericDao.findAll() method instead of redundant implementations and NamedQueries."
In `AbstractGenericDao` I already implemented a generic `findAll()` method. However, in our sample we are creating named queries for each required findAll and manually implement this. This is bad practice and not KISS as it causes pointless custom code overhead.

[2014-10-31 12:42] #104 closed, assigned to hohwille

[2014-10-31 13:38] hohwille opened #105 "documentation: guide for DB schema migration"
From issue #42 we have the task to document best practices for schema migration.
See also #45.

[2014-10-31 13:43] hohwille opened #106 "documentation: testing guide"
Currently testing documentation is one of the biggest pain points towards the 1.0.0 release.
We have deep knowledge on good testing practices available but currently not enough of such people working on this for OASP:

https://github.com/oasp/oasp4j/wiki/guide-testing

[2014-10-31 13:47] hohwille opened #107 "documentation: persistence: explain logical deletion"
From issue #42 we have the task to document best practices for logical deletion where it is not appropriate to physically delete data (for referential integrity, etc.).
Needs to be explained in the persistence guide:
https://github.com/oasp/oasp4j/wiki/guide-persistence-layer

[2014-10-31 13:52] hohwille opened #108 "documentation: persistence: temporal aspects (auditing, journal, valid from/to)"
From issue #42 we have the task to document best practices for temporal aspects.
We need to explain
- simple valid from/to concept and think about PoC in sample (reusable code? I think not worth it).
- auditing/journal: we should propose hibernate-envers and explain it, create PoC and integrate with oasp4j-jpa as optional feature. Conecpt can be copied from mmm project where everything is already

[2014-10-31 13:53] #42 closed, assigned to nobody

[2014-11-03 23:58] sobkowiak opened #109 "Upgrade to Spring Boot 1.1.8"
The last bugfix version from `1.1.x` branch has been released. We should upgrade to this version before releasing OASP.

[2014-11-04 06:41] #109 closed, assigned to nobody

[2014-11-04 08:45] #20 closed, assigned to nobody

[2014-11-06 11:42] hohwille opened #110 "Refactoring: rename persistence layer to dataaccess layer"
An outcome of #83 for OASP is that the `persistence` layer shall be renamed to `dataaccess` layer.
The reason is that the layer has this name in our architecture guide and is not only responsible for persistence/JPA but also for accessing data from and sending data to other sources including external services.
This renaming has implications on documentation, oasp4j-jpa and opas4j-sample.

[2014-11-06 14:51] #83 closed, assigned to nobody

[2014-11-06 18:17] drhoet opened #111 "security/currentuser fails with generic error message when no user logged on"
Returns a generic error 500, "An unexpected error has occurred! We appologize any inconvenience. Please try again later.". Would be nice if the error message would be more clear.

[2014-11-07 07:45] hohwille opened #112 "trigger to prevent exception facade(s) from hiding internal exceptions"
As discussed and indicated by #111 we need some trigger that allows to prevent the exception wrapping and hiding in the exception facade (). We need to discuss if this should be done via environment so in dev-env this is generally disabled (e.g. application.properties vs. application-default.properties) or via System property. I personally think that System properties are kind of ugly but prevent

[2014-11-07 11:03] hohwille opened #113 "configuration variable resolved too late"
The property `database.datasource` is defined in `application.properties` loaded by `PropertyPlaceholderConfigurer` and in the end the datasource is resolved and class is loaded. However, having such errors in log is a pain. We need to find a clean solution even though it is more of a spring bug.

[2014-11-07 11:15] mmatczak opened #114 "Named queries (NamedQueries.xml) not working"
Named queries in NamedQueries.xml does not work as they are syntactically wrong; the reason are the conditions related to the OrderState enum in the where clause, e.g.:

SELECT o
FROM Order o
WHERE
o.state = OPEN
AND
o.tableId=?

condition:
o.state = OPEN
should be:
o.state = io.oasp.gastronomy.restaurant.salesmanagement.common.api.datatype.OrderState.OPEN

BTW: I noticed that because the "free ta

[2014-11-07 11:35] #114 closed, assigned to nobody

[2014-11-10 14:42] #111 closed, assigned to nobody

[2014-11-11 12:26] #47 closed, assigned to nobody

[2014-11-13 22:32] sobkowiak opened #115 "Upgrade to Spring Boot 1.1.9"

[2014-11-13 22:50] #115 closed, assigned to nobody

[2014-11-14 21:39] ghost opened #116 "oasp4j-rest - Test failure under pl_PL Locale (RestServiceExceptionFacadeTest)"
It seems that under pl_PL Locale we have a test failure:

org.junit.ComparisonFailure: expected:<...d NOT find object "4[,]711"!> but was:<...d NOT find object "4[ ]711"!>
    at org.junit.Assert.assertEquals(Assert.java:115)
    at org.junit.Assert.assertEquals(Assert.java:144)
    at io.oasp.module.rest.service.impl.RestServiceExceptionFacadeTest.checkFacade(RestServiceExceptionFacadeTest.java:1

[2014-11-16 14:09] #99 closed, assigned to hohwille

[2014-11-16 21:44] maihacke opened #117 "Proposal: Refactor Spring Configs"
Spring Configs should be should be refactored as follows, to allow flexible application composition (e.g. for batch without service):

beans-service.xml: All beans for services but no imports to logic
beans-logic.xml: no imports to beans-persistence.
beans-persistence.xml: no imports to common

application should import beans-logic and beans-persitence.

In web.xml include application and beans-se

[2014-11-17 16:23] #112 closed, assigned to nobody

[2014-11-17 16:36] #116 closed, assigned to nobody

[2014-11-18 10:10] julianmetzler opened #118 "Provide example for SOAP-Service in example application"
Until now there is only a "Hello World" example.

[2014-11-18 16:20] #110 closed, assigned to hohwille

[2014-11-19 11:14] arturk88 opened #119 "OffermanagementRestServiceImpl - Wrong service path"
The deleteOffer method of this service has the path "/{id}". This might be a typo since all other offer manipulations start with the path "/offer/"
 /**
- {@inheritDoc}
  */
  @SuppressWarnings("javadoc")
  @DELETE
  @Path("/{id}")
  @RolesAllowed(PermissionConstants.DELETE_OFFER)
  public void deleteOffer(@PathParam("id") Long id) {

    this.offerManagement.deleteOffer(id);
  }

[2014-11-19 13:16] #119 closed, assigned to nobody

[2014-11-19 15:21] arturk88 opened #120 "TablemanagementRestServiceImpl - Wrong Http Method and Path"
The Http Method of isTableReleasable is Post but it should be Get. And I think there is a "/" between marktableas and {newState} missing.

  @POST
  @Path("/table/{id}/istablereleasable/")

  @Path("/table/{id}/marktableas{newState}")
  @POST

[2014-11-20 09:10] #120 closed, assigned to nobody

[2014-11-20 13:54] may-bee opened #121 "Review security documentation"
We should review the current state of oasp4j-security, especially its [documentation](https://github.com/oasp/oasp4j/wiki/guide-security) and consolidate it with the current implemented artefacts.

Documentation ToDos:

* [x] Find and check Spring Security default filter chain
* [x] [Adapt vulnerabilities and protection chapter](https://github.com/oasp/oasp4j/wiki/guide-security#vulnerabilities-an

[2014-11-20 13:57] maybeec opened #122 "Change access-control-schema group type"
Currently a `<group>`node of the access-control-schema has a child node `<type>` with #PCDATA contents to state the application domain dependent type of this group. We should better declare this information as a attribute of group.

[2014-11-21 14:49] maybeec opened #123 "Move PermissionConstant to general/common"
Currently there is the NamedQueries class of constants implemented in the package `general/common/api/constants`. Additionally, there is the `PermissionConstant` class for permissions, which is implemented in `general/logic/api`.

Thus we should move `PermissionConstant` to `general/common/api/constants` to be more consistent.

[2014-11-21 16:37] hohwille opened #124 "integration tests unstable"
After merging the pull-request https://github.com/oasp/oasp4j-sample/pull/43 the integration tests are now active. However, there is some problem causing them to hang from my test. We will see what jenkins will say about this. My local maven build said:

[code]

[2014-11-21 18:37] #123 closed, assigned to nobody

[2014-11-21 19:34] #122 closed, assigned to nobody

[2014-11-23 19:01] maybeec opened #125 "Possibilities and best practices for data-based permissions"
Currently, we have no best practices and reference implementations to apply permission based access on an application's data.
Nevertheless, this is a very important topic due to the high standards of data privacy & protection especially in germany. We should investigate this topic further in some of the upcoming releases.

[2014-11-23 21:05] #57 closed, assigned to nobody

[2014-11-24 12:59] arturk88 opened #126 "SalesManagementRestServiceTest - createOrderPosition Bug"
The @Produces(MediaType.APPLICATION_JSON) annotation is missing.

@Consumes(MediaType.APPLICATION_JSON)
  @Path("/order/{orderId}/position/{comment}")
  @POST
  @RolesAllowed(PermissionConstants.CREATE_ORDER)
  public OrderPositionEto createOrderPosition ...

[2014-11-25 13:15] #118 closed, assigned to nobody

[2014-11-25 16:43] hohwille opened #127 "allow to switch integration tests on and off"
We should allow to switch the integration tests on and off in the maven build.

Either we add the module `oasp4j-example-application-integration-test` only if a profile `integration-test` is active. Or vice versa we should add a profile that overrides the modules so only the example application itself is added as module then. This depends on what should be the default.
Currently the integration te

[2014-11-25 17:42] hohwille opened #128 "CRUD: define how to deal with create and update functionality"
We do need a clear model for create and update functionality from CRUD.
Currently we sometimes have ```createMyEntity``` as well as ```updateMyEntity``` and in some cases (e.g. ```UcManageStaffManager```) there is only create.
Should create fail if an ID is given?
Should update fail if no ID is given?
How should we deal with this in REST services. We came to the point that it is more suitable to b

[2014-11-26 08:42] #126 closed, assigned to nobody

[2014-11-26 18:17] sobkowiak opened #129 "Why oasp4j and oasp4j-sample use dev-SNAPSHOT as pom version?"
Why do we use such versioning scheme? It should be x.y.z-SNAPSHOT. I don't know any serious project using such versioning

[2014-11-27 07:12] #127 closed, assigned to nobody

[2014-11-27 07:47] #117 closed, assigned to nobody

[2014-11-27 08:51] maihacke opened #130 "Allow spring profile switching via properties"
Allow switching spring profiles via properties (see #113).

[2014-11-27 09:26] #130 closed, assigned to nobody

[2014-11-28 13:16] sobkowiak opened #131 "Do we still need the oasp4j-dev-init-db job?"
This job has not been running since September. Do we still need this? If no, we should remove it.

[2014-11-28 14:41] #60 closed, assigned to nobody

[2014-11-30 17:54] maybeec opened #132 "Nexus not available"
I just observed, that the nexus is not available. Builds cannot connect and the nexus web access is also not available.

[2014-12-01 07:00] #132 closed, assigned to nobody

[2014-12-01 16:27] #81 closed, assigned to hohwille

[2014-12-04 13:14] sobkowiak opened #133 "Create Jenkins jobs for pull requests builds"
As discussed in oasp/oasp4j#78 we should have builds to check the pull requests

[2014-12-04 14:21] #129 closed, assigned to nobody

[2014-12-05 11:55] sobkowiak opened #134 "Separate parent poms in oasp4j and oasp4j-sample"
Currently the both parts of oasp4j have a common parent pom (`oasp4j-parent`). In real life the both parts will have own parent poms - oasp4j own parent and application own - probably common pom used in all projects of the custommer. We should create a bom pom in oasp4j instead and reference it in `dependencyManagement` of oasp4j-sample as imported dependency.

[2014-12-05 21:49] #133 closed, assigned to sobkowiak

[2014-12-05 22:09] #131 closed, assigned to nobody

[2014-12-08 14:26] #19 closed, assigned to nobody

[2014-12-08 14:42] #113 closed, assigned to hohwille

[2014-12-08 15:22] #45 closed, assigned to nobody

[2014-12-08 15:28] hohwille opened #135 "update sample and REST services for cook dialogs"
We need to do the following changes:
* extend OrderPosition with an assigned cook (Long getCookId()), seperate state of Drink and Meal+SideDish (see #101)
* we need to modify the service to get and update an orderposition. Save (create/update) should be POST on ```salesmanagement/orderposition``` and has to return the TO back (see #128 ).
* we need to add a service operation to find orderpositions

[2014-12-09 12:48] julianmetzler opened #136 "Review DB Migrations"
Database migrations should be reviewed (in particular: src/main/resources/db/migration/V0001__Create_schema.sql).
- Check for consistency: e.g. OFFERID vs. ORDER_ID
- Apply nicer naming for constraints:
 - e.g. for foreign keys: FK_\<short(SourceTable)>\_\<SourceProperty>2\<short(DestTable)>_\<DestProperty>
- Add constraint naming conventions (and other DB best practices) to documentation.

[2014-12-10 10:11] hohwille opened #137 "Merge oasp4j and oasp4j-sample and restructure POMs"
Our current suggestion is available here:
https://gist.github.com/hohwille/1dc9c3b68f67756ce698

[2014-12-10 10:41] julianmetzler opened #138 "Add missing JavaDoc"
Methods in Service classes often use @inheritDoc but they don't inherit from anything (causing Sonar issues).

[2014-12-10 10:47] #138 closed, assigned to julianmetzler

[2014-12-10 17:41] mmatczak opened #139 "Waiter can't create orders any more"
After the https://github.com/oasp/oasp4j-sample/commit/c0bc0372c595403a4ecda32c28a0d91e1739b2c4 commit, users having the "WAITER" role assigned can't create orders (SalesmanagementRestServiceImpl.saveOrder) any more. The reason is that the permission PermissionConstants.SAVE_ORDER("CreateOrder") is never assigned in access-control-schema.xml.

[2014-12-10 18:19] mmatczak opened #140 "Apache CXF uses a wrong version of JAXB?"
When starting Tomcat I got: java.lang.NoSuchFieldError: REFLECTION. The reason were incompatible JAXB versions taken by org.apache.cxf / cxf-rt-frontend-jaxws / 3.0.2:
com.sun.xml.bind / jaxb-impl / 2.2.10-b140310.1920
com.sun.xml.bind / jaxb-core / 2.2.10-b140310.1920

However according to http://mvnrepository.com/artifact/org.apache.cxf/cxf-core/3.0.2, org.apache.cxf / cxf-rt-frontend-jaxws / 3.

[2014-12-10 22:05] #139 closed, assigned to mmatczak

[2014-12-10 22:13] hohwille opened #141 "JUnits of sample start DB on port potentially causing BindException."
Our Junits start the spring context that itself starts the DB as a server on a socket. This is fine for the app in tomcat but not for JUnits. When I have my tomcat running then maven will fail on the console. IMHO JUnits shall only use flat file variant of h2 db without server.

[2014-12-12 07:29] #77 closed, assigned to nobody

[2014-12-12 10:52] hohwille opened #142 "rework of BLOB support"
From #52 we now have BLOB support in our sample application. However, there is some rework to do:
1. BLOBs have to be streamed properly:

1. We need to revisit our authorization:

2. We need to centralize BLOB handling code. I am taking about the transformation from Blob to MultipartBody (see 1.) that should go to a central place. E.g. some AbstractRestServiceImpl (IMHO better ease of use compare

[2014-12-12 10:56] #52 closed, assigned to nobody

[2014-12-15 05:54] sobkowiak opened #143 "OASP4J cannot be deployed to Jenkins"
After the merge the deployment process fails due to the missing `distributionManagement` in the main pom. It should be moved from `oasp4j-bom`into the main pom.

[2014-12-15 05:56] #143 closed, assigned to sobkowiak

[2014-12-15 12:51] #141 closed, assigned to hohwille

[2014-12-15 15:02] #91 closed, assigned to nobody

[2014-12-15 15:03] #134 closed, assigned to nobody

[2014-12-15 15:07] #31 closed, assigned to hohwille

[2014-12-16 07:49] sobkowiak opened #144 "Upgrade to CXF 3.0.3"
New version of CXF is available. I'm currently testing it. We can decide if we include this upgrade in `1.0.0` or we push it after the release.

[2014-12-16 08:36] sobkowiak opened #145 "Testing services with external tools"
Currently the SOAP and REST services in the Sample are secured. To access them we need to authorize. There is no problem in web browser because we are redirected to the login page and browser remembers the access data.

The problem begins with the external tools like SoapUI or curl. We need a guide how to access the secured services with those tools.

[2014-12-16 08:41] sobkowiak opened #146 "Cannot cancel reservation or free the table if cancelled orders available"
I have reserverd or occupied one table, next perfomed some orders. The table cannot be made free or the reservation cannot be cancelled. Probably correct.

If I remove the orders, they appear as cancelled, but I can't cancel the reservation/free the table too. Is it correct?

[2014-12-16 15:21] #137 closed, assigned to nobody

[2014-12-16 17:16] #144 closed, assigned to sobkowiak

[2014-12-16 19:45] maihacke opened #147 "Concept for transfer objects not well applied"
In #7 we agreed on a concept for transfer objects.
Reading our own documentation https://github.com/oasp/oasp4j/wiki/guide-transferobject and the referenced documentation in http://m-m-m.sourceforge.net/apidocs/net/sf/mmm/util/transferobject/api/package-summary.html our implementation does not match.
For me https://github.com/oasp/oasp4j-sample/blob/develop/oasp4j-example-application/src/main/java

[2014-12-16 20:09] sobkowiak opened #148 "Upgrade to Spring Boot 1.1.10"
The new fix version has been released. We should upgrade to this version.

[2014-12-16 20:12] #148 closed, assigned to sobkowiak

[2014-12-16 20:14] #147 closed, assigned to nobody

[2014-12-16 20:30] maihacke opened #149 "Replace Long with primitive long in UC-Methods"
In UC-find-Method passing Null-Values for IDs does not make sense. We should consider using primitive long instead of object form Long here.

[2014-12-16 20:42] hohwille opened #150 "Validation and authorization shall happen on use-cases and not services"
While for authorization and validation it is nice to reject illegal requests as soon as possible it is however the wrong way to do that only on service level. This has to be done on logic level so other usages (batch, etc.) will also benefit from it and the application remains consistent without lots of redundancy.

[2014-12-16 20:43] #54 closed, assigned to nobody

[2014-12-16 22:01] hohwille opened #151 "management of port numbers for integration testing"
Currently we have the problem that we are using port 8081 for tomcat and port 8043 for the database for the application and for integration testing. This interferes when you have tomcat running and call maven on the command-line. Even worse in jenkins this makes the build to fail as the same machine is already running the sample app and also separate build jobs can interfere with each other.

[2014-12-16 22:15] hohwille opened #152 "improve groupIds for better structure of rep"
Before we finally deploy to maven central I want to propose that we revisit our groupIds.
Instead of using io.oasp.java for all oasp4j artifacts and after probably many years and with a large and unstructured bunch of artifacts we could reflect our new structure also via groupIds and could also put internal POMs (dev-SNAPSHOT) into a different groupId to better prevent undesired effects.

so io.oa

[2014-12-18 10:12] #152 closed, assigned to nobody

[2014-12-18 10:13] #151 closed, assigned to hohwille

[2015-01-05 09:14] norbert-ka commented on #150
In my opinion validation should only be done at the boundary of components. It is the sole concern of the facade layer (named in the architecture guidelines, which is probably what is called service layer in OASP). At the boundary of a component we cannot guarantee that external code is complying to the component contract and therefore have to do parameter validation. Inside of the component only

[2015-01-05 10:33] maihacke commented on #150
Validation should be part of the component. So it should be done inside the logic layer. If we do it "outside" in the service layer. Other component calls are not validated.

[2015-01-05 11:40] norbert-ka commented on #150
It seems to me, that I do not understand what a component is in OASP. Of course validation should be done inside the component at its boundaries. Is the service layer outside of the component? A component needs an interface which in my understanding was done in the service layer. What is a component in OASP?

[2015-01-07 07:43] Max-Goebel opened #153 "Concept for test data management"
Currently there is no standardized concept for managing test data in OASP applications. There must be answers for the following questions:
**1. Should test data be shared by multiple test cases, or should each test case use its own data? Maybe there are different answers for master data and for transaction data.**
**2. How is the test object reset to a defined starting state, so that test cases ca

[2015-01-07 09:22] hohwille commented on #150
A component consists of multiple (component-)parts that are each assigned to exactly one layer. In OASP even more specially there are never multiple component-parts of a component for the same layer.
So a component on the server side typically has a component-part for the service-layer that belongs to the component. However this has the goal to expose functionality of the component via some servic

[2015-01-07 09:49] hohwille commented on #153
First of all we should separate master data from transaction data as you suggested.
As we are proposing KISS and address the 80%-90% projects it is suitable to assume that there is one set of master data that can evolve over the time (but we do not consider multi-tenancy or the like where we a totally different sets of master-data). For DDL and master-data we are using Flyway. Hence, we can consid

[2015-01-07 10:04] norbert-ka commented on #150
Thanks @hohwille. I did have a look at the sample application and from that had the same understanding of components and component-parts in OASP as you explained.

But then @maihacke mentioned that the service layer was "outside" of the component which struck me as awkward.

In my opinion all access from outside of a component should be through an "access layer" however that layer may be called. O

[2015-01-07 10:21] hohwille commented on #150
@norbert-ka: You should be aware that there is a lot of valid literature available on the market beside the Quasar architecture guide. The common sense in the wide world is that you never call layers up-wards. This is what you and current architecutre guide are actually suggesting and what many people consider as bad-practice. We also consider principles that are widely accepted and that we can ea

[2015-01-07 10:43] norbert-ka commented on #150
@hohwille
As you already said layers are inside of components. On the outside every component should have a clearly defined interface for accessing it.

And the architecture of OASP should comply with our architecture guide, since this is the way we committed ourselved to build software.

There is nothing explicitly "wrong" with the actual implementation. I just think, that the classes that compro

[2015-01-09 10:45] hohwille commented on #135
@mmatczak thanks for implementing this. :+1:
This ticket is now complete even though websocket code can get some javadoc...

[2015-01-09 10:45] #135 closed

[2015-01-09 10:51] hohwille commented on #76
This is still an important issue but not crucial for our release. We will start with the first bullets to pull out a release and will continuously improve. Also this topic will be discussed on our summit in feb.

[2015-01-09 10:51] hohwille commented on #17
Currenst state is considered as suitable. Improvements are always welcome.

[2015-01-09 10:51] #17 closed

[2015-01-10 20:19] Max-Goebel commented on #153
Hohwille and I had a discussion about this issue. We created a working hypothesis regarding **topic 2 (starting state)**:
All data that belongs to the test cases' starting state must be contained in the database. Neither do test cases need to load data themselves nor must there be a monolithic script. All entities that are created by the test cases must have an ID < 1000000. Before tests start, al

[2015-01-12 07:49] hohwille commented on #153
Vice-versa: Entities created by the software will use the hibernate sequence that is initialized with 1000000. All master-data and test-data has to use IDs lower than that. At the beginning of an integration test, all entities with an ID >= 1000000 can/shall be deleted to eliminate (potential) side effects of previous test-cases.

[2015-01-12 07:52] hohwille commented on #153
We are using flyway with great success. However, currently in our sample app we have no clear separation of master-data and test-data. This is currently mixed in flyway "migration-scripts", what is actually dead wrong. We need to study flyway and find a way to mark scripts as test-only so that these are skipped in normal/productive systems and will only be inserted for test (and development).

[2015-01-12 12:09] hohwille commented on #150
Things to note:
We have SecurityRestServiceImpl that is offering security functionality not backed by actual use-cases in the logic layer. In that case we either have to keep and excuse and leave authorization annotations (however these are @PermittAll anyways) in the service or we need to create use-cases for that. As this is very technical code with e.g. only delegation to springframework I woul

[2015-01-12 12:14] hohwille commented on #150
not relevant for 1.0.0 as this only affects code that is not released (sample itself, not even the application template)

[2015-01-12 12:21] hohwille opened #154 "logger exception on startup"
The sample application currently causes this exception:

[code]

[2015-01-12 12:21] hohwille commented on #154
Is this a misconfiguration in our logback.xml?

[2015-01-12 12:23] hohwille commented on #154
Happens when our pattern gets parsed:

[2015-01-12 12:27] hohwille commented on #154
Nope, its actually this value:

[2015-01-12 12:29] hohwille commented on #154
This is a bug/feature of logback (see second "s.charAt(i++);"):

    char c;
    int len = s.length();
    StringBuilder sbuf = new StringBuilder(len);

    int i = 0;
    while (i < len) {
      c = s.charAt(i++);
      if (c == '\\') {
        c = s.charAt(i++);
        if (c == 'n') {
        ...
        }
      }
      sbuf.append(c);
    }
    return sbuf.toString();
  }

[2015-01-12 12:38] hohwille commented on #154
The value comes from a variable that gets resolved (by maven) from this source:

I removed the last file.separator variable expression to prevent that the string ends with an extra backslash (3 Backslashes) but currently the error still persists.

[2015-01-12 12:49] hohwille opened #155 "logback.xml should not be bundled in application core module"
Currently logback.xml is contained in in oasp4j-sample-core module. It is therefore packaged within the according JAR file that then gets included into the oasp4j-sample-server WAR file.
IMHO it would be better to have the actual logback.xml directly in oasp4j-sample-server/src/main/resources/WEB-INF/classes so it can be modified in a test environment without tweaking the JAR file.
What are the be

[2015-01-12 12:51] hohwille opened #156 "logging: Console appender should only be active in development environment"
our logback.xml config is currently incomplete:

[2015-01-12 12:54] hohwille opened #157 "logging: SingleLinePatternLayout not used anymore by logback.xml"
SingleLinePatternLayout has been created to prevent LogForging and to better support filtering logs with low-level tools such as awk, grep, sed, etc.
However this is not yet configured anymore. It should be active for all appenders except console.

[2015-01-12 14:38] hohwille opened #158 "CI: Memory Problem..."
Jenkins CI/NB is causing this error:

[INFO] [INFO] [talledLocalContainer] #
[INFO] [INFO] [talledLocalContainer] # There is insufficient memory for the Java Runtime Environment to continue.
[INFO] [INFO] [talledLocalContainer] # Native memory allocation (malloc) failed to allocate 69206016 bytes for committing reserved memory.
[INFO] [INFO] [talledLocalContainer] # An error report file with more

[2015-01-13 07:48] hohwille commented on #158
Do we need swap space? Can some admin have a look with top what processes are allocating memory?

[2015-01-13 07:49] hohwille commented on #158
Heap of the JVM itself is not rather big:

{Heap before GC invocations=3 (full 0):
 PSYoungGen      total 72704K, used 72675K [0x00000000f5500000, 0x00000000fa100000, 0x0000000100000000)
  eden space 67584K, 100% used [0x00000000f5500000,0x00000000f9700000,0x00000000f9700000)
  from space 5120K, 99% used [0x00000000f9c00000,0x00000000fa0f8fb8,0x00000000fa100000)
  to   space 5120K, 0% used [0x0000

[2015-01-13 08:26] hohwille commented on #157
I assume we need something like this

      &lt;pattern>${logPattern}&lt;/pattern>
      &lt;layout class="io.oasp.module.logging.common.impl.SingleLinePatternLayout"/>
    &lt;/encoder>

[2015-01-13 12:05] #157 closed

[2015-01-13 12:06] julianmetzler commented on #157
https://github.com/oasp/oasp4j/commit/754b7e3518ddfb91ff8ef8816b61a3a6ce8873c4

[2015-01-14 08:25] julianmetzler commented on #156
I added a project with a logback config file contained for logging behaviour of JUnit tests of the modules (oasp4j-testconfig). Only console logging is enabled here.
Additionally added a property to disable console logging when deploying oasp4j sample app.

[2015-01-14 09:02] hohwille opened #159 "sample: create separate state for drink of OrderPosition"
From #135

The state separation has not yet been implemented.

[2015-01-14 10:35] hohwille commented on #150
@julianmetzler thanks. good work :+1:
One issue I would like to discuss: SecurityRestServiceImpl
As stated earlier we should only remove the annotations if we also extract the code to use-cases. However, my suggestion was to leave it as is. The @PermitAll might currently be kind of "optional" but it is an important documentation and we are working on architecture validation that shall check that w

[2015-01-14 15:01] #150 closed

[2015-01-14 15:08] hohwille opened #160 "Sample: use @DenyAll as default on AbstractUc"
We should try to add @DenyAll to AbstractUc and verify that if one forgets to explicitly mark a method with @RolesAllowed (or @PermitAll) then it is not available. This will force the developer to do it right and prevent security desasters.

However this can be restrictive and can cause trouble (see our current approach for authentication that is calling a use-case to retrieve the user that can no

[2015-01-14 16:28] julianmetzler commented on #160
Adding @DenyAll to AbstractUc doesn't change the behavior at all. Even if a method is missing the @RolesAllowed annotation it can be accessed.
If @DenyAll is added to the Uc*Impl class directly it works as expected (methods without @RolesAllowed/@PermitAll can't be accessed) and has no impact on injections. Of course this would not work for the current approach for authentication.

[2015-01-15 16:05] hohwille commented on #160
Thanks for the analysis. Adding @DenyAll to the Uc*Impl would be a general option as well as adding a check that requires to do this.
However, if we want to go for such an approach, then we have to find a solution for UcFindStaffMemberImpl (method findUserProfileByLogin). As for some reason @PermitAll does not even work here, we have to do some research or simple close this as invalid.
At least we

[2015-01-17 21:03] hohwille commented on #155
even though commits have not been associated with this issue, @julianmetzler has fixed this.
I just reviewed the current state and everything is fine now, so I will close this issue...

[2015-01-17 21:03] #155 closed

[2015-01-17 21:11] hohwille commented on #128
For Bill the method is still called createBill and not saveBill which is fine. Everything else is now save and also all according permissions (including SAVE_BILL).

[2015-01-17 21:11] #128 closed

[2015-01-17 21:12] #160 closed

[2015-01-17 21:14] hohwille commented on #121
Documentation can and will always be improved continuously. However, we now have a reasonable state.

[2015-01-17 21:14] #121 closed

[2015-01-17 21:15] hohwille commented on #15
Maybe still a lot of room for improvements but at least working now.

[2015-01-17 21:58] hohwille commented on #80
IMHO auto publication after gpg key creation seemed to have failed. I fixed this now by submitting the key by hand.

So we are really forced to list the developers in our POMs. Shall we invite all developers to add themselves to this list in our top-level POM? Or should we just list a single user to fullfill this otherwise pointless requirement and forget about the rest?

[2015-01-17 22:08] sobkowiak commented on #80
It's good idea to invite all active developers to make an `developer` entry in the main pom. But now you can simply enable [this](https://github.com/oasp/oasp4j/blob/develop/pom.xml#L484-L499) block again to avoid the problems with release

[2015-01-17 22:23] hohwille commented on #80
OK:

https://oss.sonatype.org/content/repositories/iooasp-1002/

I will give the community a little time to test the release. I will also test it and see that it is working alright.

[2015-01-17 22:24] hohwille commented on #80
Shall we use the common voting with lazy consensus via our dev list?
I think this is the best approach...

[2015-01-17 22:32] hohwille commented on #15
I found a bug in our release candidate:
The logback.xml is not included to the application template.

[2015-01-17 22:35] hohwille commented on #80
I already found a small bug and reopened #15.

[2015-01-17 22:42] sobkowiak commented on #80
I think this is the best approach...

:+1:  I think it's a good idea. In Apache we have usually 72 hours for the vote.

[2015-01-18 07:34] hohwille commented on #15
next problem:

  /** @see com.capgemini.sometest.tablemanagement.dataaccess.impl.dao.TableDaoImpl#getFreeTables() */
  public static final String GET_FREE_TABLES = "get.free.tables";

  /** @see com.capgemini.sometest.staffmanagement.dataaccess.impl.dao.StaffMemberDaoImpl#findByLogin(String) */
  public static final String GET_STAFF_MEMBER_BY_LOGIN = "get.staff.member.by.login";

  /** @see com.ca

[2015-01-18 08:31] hohwille commented on #80
Next try:
https://oss.sonatype.org/content/repositories/iooasp-1003/

[2015-01-19 15:52] oelsabba commented on #43
@joedoehh  Thanks for filing this issue. Do still have the same problem?
I am currently facing the same problem "Project build error: Non-resolvable parent POM". This happens in Projects: oasp4j-example-application and oasp4j-example-application-integration. Would appreciate if you share your solution for the problem.

[2015-01-20 09:34] #136 closed

[2015-01-20 13:13] julianmetzler commented on #153
An easy approach for separation of master-data and test-data would be to define two locations e.g.:
src/main/resources/db/migrations,
src/main/resources/db/test-data
(recommanded by Axel Fontaine, founder of Flyway, in a [SO thread](http://stackoverflow.com/questions/23324952/how-to-test-flyway-migration))
And call flyways migrate method on both locations when running tests and only on the first w

[2015-01-20 13:26] #156 closed

[2015-01-21 08:37] Max-Goebel commented on #153
If it is possible to switch between both directories multiple times within a migration, this may be the right approach.

Given that there are these migration scripts:
* src/main/resources/db/migrations/V1_bla.sql
* src/main/resources/db/migrations/V2_blubb.sql
* src/main/resources/db/test-data/V1.1_bla-test.sql
* src/main/resources/db/migrations/V2.1_blubb-test.sql

Then the scripts must be execut

[2015-01-21 15:27] julianmetzler commented on #153
Flyway searches for migrations in all defined locations and applies them in the order specified by the version. So this would work.

[2015-01-22 16:57] hohwille commented on #80
Staging completed:
http://repo1.maven.org/maven2/io/oasp/java/

[2015-01-22 16:57] #80 closed

[2015-01-22 16:57] hohwille commented on #15
considered complete.

[2015-01-22 16:57] #15 closed

[2015-01-22 16:59] hohwille commented on #158
Somebody has solved this problem. Thanks to whoever (@sobkowiak? @mmatczak?)

[2015-01-22 16:59] #158 closed

[2015-01-22 21:47] hohwille commented on #79
http://oasp.github.io/oasp4j/1.0.0/
http://repo1.maven.org/maven2/io/oasp/java/

[2015-01-22 21:47] #79 closed

[2015-01-27 10:00] pfleger opened #161 "OASP4J Documentation - Figures missing!"
Hello,

The newly released OASP4J documentation http://oasp.github.io/oasp4j/1.0.0/OASP4J.pdf seems to have its figures missing. For example "Figure 1.1. Technical Reference Architecture" has only its label - no image.

Best Regards,
Piotr

[2015-01-27 10:27] oelsabba commented on #159
Also related to #101:

what comes to my mind to achieve this separation, is that we need to separate Drinks from the OrderPositions drop down menu. In this case, we end up having drinks ordered separately and those ordered within an Offer, because the properties: mealState and sideDishState do not apply for separately ordered drinks. For example, "Cola" should not be a member of the current drop d

[2015-01-27 15:15] hohwille commented on #161
Thanks for the feedback. You are right and it is actually a pity as this used to work all the time and exactly for the release it failed. As it seems all images from the GH pages (SVGs) are missing while other images are included. Further there are also some layout problems such as Table 4.4 on page 41.

We will fix this and try to create a new release ideally in Q1.

[2015-01-28 09:17] hohwille commented on #159
@oelsabba IMHO you misunderstood the data model. There is a product that can be either a drink, meal, or a side dish. None of these is available for order by itself.
Further, there is an offer that can be any (non-empty) combination of a drink, meal, and/or a side dish and combines them with a price. So you can order a single drink e.g. a cola if available as offer (e.g. for 1€) while you can also

[2015-01-28 10:01] julianmetzler commented on #153
The AbstractRestServiceTest clears the DB and migrates it to the newest available version, including the test-data, in its setup method (called before every test case). So all test classes extending the AbstractRestServiceTest have a clean DB with the test data contained at every test case.

[2015-01-28 15:41] julianmetzler opened #162 "sample: review bill services"
Currently the service createBill consumes a list of OrderPositionEtos and the tip as Money. This should instead be realized with a transfer object.
Additionally the getBill service should return a BillCto instead of a BillEto, so the client doesn't have to request every single OrderPositionEto by its ID.

[2015-01-30 14:19] hohwille commented on #161
Must have been a network issue during release generation. I regenerated from tag and images are now included.

[2015-01-30 14:19] #161 closed

[2015-01-30 14:29] hohwille commented on #125
So far my suggestion would be as following:
In you application you provide an implementation for that check and make it available as spring bean.
Inject this into AbstractUc and provide protected method(s) that delegate to the actual check implementation.
In you actual use-cases that require such check you simply call the protected method manually.
This is simple (KISS) can be understood and debug

[2015-01-30 14:33] hohwille commented on #105
Thanks.

[2015-01-30 14:33] #105 closed

[2015-01-30 14:35] hohwille commented on #124
At least some of the tests are not @Ignored anymore and also do run correctly in jenkins. That is already some progress :)

[2015-01-30 14:36] hohwille commented on #101
See #159

[2015-01-30 14:39] hohwille commented on #87
So for releases I have established the concept via GH pages as planned:
http://oasp.github.io/oasp4j/1.0.0/

IMHO we should still prepare some staging of the current site and PDFs from nightly build to our cloud web server. As soon as we have this and change our "latest" links on the homepage, we can close this issue.

[2015-01-30 14:42] hohwille commented on #86
We have already done the same in our sample with the BLOB services: Instead of writing a generic service for all BLOBs, we write individual services that can check permissions based on the parent business object.
We still need to explain this easily as best practice what might be the biggest challenge.

[2015-01-30 14:45] hohwille commented on #85
I already had added the link the CVE newsletter to our security guide:
https://cve.mitre.org/news/newsletter.html

[2015-01-30 14:47] hohwille commented on #78
When we see the need for advanced support for the wiki, we should file a new issue. This is IMHO done.

[2015-01-30 14:47] #78 closed

[2015-01-30 15:26] joedoehh commented on #43
@oelsabba after i moved to a new computer and because of some restructerings i just freshly successfully set up oaspj following the installation guide on https://github.com/oasp/oasp4j/wiki/oasp-ide-setup. i have not experienced the issues discussed here so i would consider it to be solved.

Since i dont recall how i fixed the problem back then in september 2014 i would suggest to initially setup

[2015-02-02 09:44] Max-Goebel opened #163 "Time travels"
Is it in oasp4j possible to travel in time for testing purposes?
Time travels are necessary, if you want to test application behavior that depends on the current system time. For example, the application may check, if a given date is in the past or in the future.
Such an behavior is an problem for test data management, if test data contains such date fields. To use such test data in test cases, on

[2015-02-03 08:20] #162 closed

[2015-02-03 10:03] oelsabba commented on #159
@hohwille  Thanks for making things clearer. I got what you pointed out. However, IMHO I still think that achieving a state separation through creating three classes would be a better choice
(eventhough, it sounds more complicated).
This could be done by having a level of abstraction and extending it through many types.

I guess having three states of (SideDish, Drink and Meal) all contained withi

[2015-02-03 10:14] hohwille commented on #159
Thanks for your feedback. However, you need to be aware that even if you create 3 additional sub-objects, you still need the OrderPosition (to track and bill the actual offer that has been ordered) and still have the same problem with different states. Instead of a state being null you will then have a "OrderOfferPosition" being "null". So in the end I am not totally sure if this would make it any

[2015-02-03 13:05] oelsabba opened #165 "Package of Salesmanagement DAO Test"
I suggest renaming :
package :
`io.oasp.gastronomy.restaurant.salesmanagement.persistence.impl.dao`
 to
`io.oasp.gastronomy.restaurant.salesmanagement.dataaccess.impl.dao`
 in order to keep a consistent naming convention over all package hierarchies.

[2015-02-03 21:51] hohwille commented on #165
sure. this is a leftover from an incomplete refactoring.

[2015-02-03 21:58] hohwille commented on #165
Thanks for the feedback - I was not aware of this

[2015-02-04 12:33] julianmetzler opened #166 "Provide support for database auditing"
From issue #108 we have the task to create a PoC for database auditing with hibernate envers.

[2015-02-05 07:52] hohwille opened #167 "oasp4j-security: AccessControlGroup not serializable"
java.io.NotSerializableException: io.oasp.module.security.common.api.accesscontrol.AccessControlGroup

[2015-02-05 08:33] #165 closed

[2015-02-05 08:35] hohwille commented on #167
Done.

[2015-02-05 08:35] #167 closed

[2015-02-05 09:54] hohwille opened #168 "Sample: resolve warnings from Eclipse"
When you import oasp projects into eclipse, you are faced with ~70 warnings (if HTML validation is enabled ~1000 but HTML validation of eclipse is actually non-sense - see also last commend of https://bugs.eclipse.org/bugs/show_bug.cgi?id=338759).

The java warnings should be resolved by reworking the code.

[2015-02-05 10:01] may-bee opened #169 "Do not flood our users with jenkins mails"
We should try to reconfigure our jenkins builds to not flood our oasp users with mails. Thus, for new users joining GitHub OASP mails will be easily registered as trash.
I would prever the following configuration as currently processing in my current project:
1 mail per status change (build succeed | build failed) to all persons, which are currently committing. Here an example:

-- build succeed
u

[2015-02-05 10:18] #169 closed

[2015-02-05 15:04] hohwille commented on #4
@oelsabba if you are looking for a way to run the same tests once with dozer and once with orika have a look here for how this can be done with JUnit:
https://github.com/m-m-m/mmm/blob/master/mmm-client/mmm-client-ui/mmm-client-ui-widget/mmm-client-ui-widget-impl-test/src/test/java/net/sf/mmm/client/ui/impl/test/AbstractUiTest.java

[2015-02-08 19:20] Max-Goebel commented on #163
How can Java 8 help, if the data access layer uses the Sysdate-function? I suppose, nothing at all...

[2015-02-09 08:20] hohwille commented on #163
JSR310 has a separate class Clock for abstraction:
http://docs.oracle.com/javase/8/docs/api/java/time/Clock.html

The datatypes allow creation from a given clock:
http://docs.oracle.com/javase/8/docs/api/java/time/Instant.html#now-java.time.Clock-

Otherwise the system default clock is used.
We can define a clock that falls back to the default but can be replaced for tests. Further via Mocking-Fra

[2015-02-10 11:17] hohwille opened #171 "logback.xml does not follow OASP guideline"
The logback.xml configuration wrong and does not follow our own guidelines:
https://github.com/oasp/oasp4j/wiki/guide-logging

[2015-02-10 11:19] hohwille commented on #171
use ${HOSTNAME} for hostname and property ${appname} for the name of the application.
Further added missing .log suffix for non-rotated files.

[2015-02-10 11:19] #171 closed

[2015-02-11 09:13] oelsabba opened #172 "Removing mark*As methods"
There are a set of mark*As methods that change the states of some Entities.
They expect an ETO and a new state.
They load the corresponding persistent entity and update the entity's state.
An example of these is `markTableAs`.

IMHO, they should be removed as they are not intended to be used by the UI.
I suggest substituting them by save* methods.

[2015-02-11 12:02] hohwille commented on #172
These save methods should all already exist.

[2015-02-11 12:46] julianmetzler commented on #168
I fixed some warnings. Most warnings left are missing Javadoc warnings in sample-core (web socket) and integration-test (Table*Builder).

[2015-02-12 22:56] sobkowiak opened #174 "Upgrade to Spring Boot 1.2.5.RELEASE"
I have started the migration to Spring Boot 1.2.1.RELEASE. It means the upgrade from Spring 4.0.x to Spring 4.1.x (and some other dependencies). I had some minor problems I had to solve. I'll describe them here so we can review the necessary changes. I'll also open a pull request with my changes.

Some helpful links
* [Migrating to Spring Framework 4.1](https://github.com/spring-projects/spring-fr

[2015-02-12 22:58] sobkowiak commented on #145
I have tested this method with HttpRequester and it works. I'll test it with SoapUI and next we can provide small how-to in our documentation.

[2015-02-12 23:10] sobkowiak commented on #63
Any progress in this thema?

[2015-02-13 09:58] Jan-PeterRichterCG opened #175 "Archetype oasp4j-template-server contains restaurant-related code"
when I create an 'empty' OASP4J project using new Maven Project (from Archetype oasp-template-server) I find some restaurant code in it, see e.g. PermissionConstants, Role, NlsBundleRoot.errorOfferEmpty. I guess this has to be cleaned from the archetype.

[2015-02-13 10:01] Jan-PeterRichterCG opened #176 "Archetype oasp-template-server apparently contains classes that should be placed in a library"
when I create an 'empty' OASP4J project using new Maven Project (from Archetype oasp-template-server) I find lots of classes that I would have expected to be part of a library, e.g. all the Money-related ones but also most of the other classes that I find in my 'empty' project. Does OASP expect a *user* of OASP to augment these classes in one or the other usage scenario [where just subclassing is

[2015-02-13 11:01] hohwille commented on #175
The PermissionConstants are correct but maybe not the content in there. This is already known and was discussed in #15 due to a bug in the currently simple mechanism to mark code-lines from our sample to be excluded in the template.
We also have Role there and some of the initial stuff to allow that a login is already possible.
In general you are right and we need to improve here.
There is also #1

[2015-02-13 11:04] hohwille commented on #176
This is absolutely intended! We mainly want to provide patterns rather than a framework (https://github.com/oasp/oasp4j/wiki/architecture#key-principles). It is therefore better to give this code away as part of the template and allow users to change and evolve the code as they need rather than creating yet another framework that projects have to fight with or against.

[2015-02-13 11:04] #176 closed

[2015-02-13 11:05] hohwille commented on #176
shall be handled with #175

[2015-02-13 11:05] hohwille commented on #175
As @Jan-PeterRichterCG described in #176 also Money and related classes are part of the archetype. These shall be excluded as well.

[2015-02-14 19:27] sobkowiak opened #177 "Logback cannot write log file on Linux platform"
Logback configuration file uses following pattern to define the log file location

    <File>${filePath}${errorLogFile}.log</File>

where `filePath` is defined following

    <property name="filePath" value="${java.io.tmpdir}"></property>

`${java.io.tmpdir}` resolves on Linux platform to `/tmp` and logback tries to write following file `/tmperror_log_lenovo_restaurant.log`, but this is not allowe

[2015-02-14 19:37] #177 closed

[2015-02-14 21:11] sobkowiak opened #178 "Implicit relative paths are disabled in H2 1.4.x"
Upgrade to Spring Boot 1.2.x upgrades some other dependencies like H2 database (from 1.3.176 to 1.4.183). The new minor version disables usage of implicit relative paths (http://www.h2database.com/html/changelog.html)

We use currently implicit relative paths in our configuration file
* `database.url = jdbc:h2:target/.sample;INIT=create schema if not exists public`in `oasp4j-samples/oasp4j-sample-

[2015-02-15 20:42] sobkowiak commented on #178
I propose to use the explicit relative paths for the both cases used in our configuration files
* `database.url = jdbc:h2:./target/.sample;INIT=create schema if not exists public`in `oasp4j-samples/oasp4j-sample-core/src/test/resources/config/env/application.properties`
* `jdbc:h2:tcp://localhost:${oasp.db.port}/./.sample;INIT=create schema if not exists public` in `oasp4j-samples/oasp4j-sample-se

[2015-02-16 08:47] hohwille commented on #177
@sobkowiak thanks for testing and fixing. However you just reproduced the error #154 that had been "fixed" before. So we need to find a real solution for #154 - I will reopen it...

[2015-02-16 08:47] hohwille commented on #154
See #177

[2015-02-16 08:50] hohwille commented on #178
We need a path relative to the current directory for the tests (if we would use relative to home then jenkins or travis jobs would interfere with each other).
Using a system property is not an option. We could use Maven filtering and ${basedir} to make the path absolute.

[2015-02-16 08:53] sobkowiak commented on #178
Another solution would be usage of explicit relative paths ad described in my last comment -- no filtering necessary.

[2015-02-16 18:14] sobkowiak commented on #154
Does this error occur only on Windows when `${file.separator}`is appended at the end of `filePath`?

[2015-02-16 18:30] sobkowiak commented on #154
This problem is caused pyrtly by inconsistent handling of  `java.io.tmpdir` under operating systems (some explanation here https://rationalpi.wordpress.com/2007/01/26/javaiotmpdir-inconsitency/). It was reported as a bug but the bug was rejected (http://bugs.java.com/bugdatabase/view_bug.do?bug_id=4391434)

[2015-02-17 10:24] hohwille commented on #154
The thing is that we have an odd number of backslashes. The actual bug is IMHO that logback can not handle this (see buggy code above).

[2015-02-19 16:55] hohwille opened #180 "UcChangeTableImpl broken"
Please revisit UcChangeTableImpl as it has been broken (see also #172).

[2015-02-20 07:47] sobkowiak commented on #154
The `java.io.tmpdir` parameter is resolved under Windows as `C:\\Users\\<user>\\AppData\\Local\\Temp\\`. `file.separator` adds the 3rd `\` and logback has problems with this. I haven't found any open issues in Logback. The code remains unchanged as well. It looks like the problem is unknown in Logback community.

I have found a workaround which works on both platforms -  we can attach double `file

[2015-02-20 07:49] hohwille commented on #154
perfect workaround. KISS :)

[2015-02-20 09:08] hohwille commented on #21
I close this issue as everything is done here. If I missing something please create an individual new issue for the remaining aspect.

[2015-02-20 09:08] #21 closed

[2015-02-20 09:09] hohwille commented on #172
has been done with #173.

[2015-02-20 09:09] #172 closed

[2015-02-20 09:15] hohwille opened #181 "sample: build causes extense logging and travis to fail"
Our logs are to excessive. E.g. we insert BLOBs into DB with flyway and that is dumped into the logs on debug as hex what is entirely nonsense.
As this also happens by the tests during the build (multiple times) the logs get too large and travis cancels the build:

The build has been terminated.

[2015-02-20 09:19] hohwille commented on #175
@julianmetzler excellent :+1:
Can someone test the latest archetype and verify that we can close this issue now?

[2015-02-20 09:26] hohwille opened #182 "sample: Missing table: Product_AUD"
Die Sample Anwendung ist kaputt:

[code]

[2015-02-20 09:26] hohwille commented on #182
Wenn Product mit @Audited markiert ist, müssen wir auch im Flyway die AUD Tabelle anlegen.

[2015-02-20 09:29] oelsabba commented on #182
@hohwille
Just a reminder:  the official language of the project is English :smile:

[2015-02-20 13:20] hohwille commented on #182
uupps. I was not noticing that while writing this on the way... :smile:

[2015-02-20 14:30] hohwille commented on #182
Removing @Audited does not help then you end up with

[2015-02-20 14:43] hohwille opened #183 "sample: logback.xml not contains absolute path to tmpdir during build"
If I build a WAR with maven and extract it, then WEB-INF/classes/logback.xml contains this:

[2015-02-20 14:43] hohwille commented on #183
looks like maven filtering is active in this case what is not intended here...

[2015-02-20 14:44] hohwille commented on #183
This will also impact the archetype result so it is actually a real bug that has to be fixed soon with a next release.

[2015-02-20 14:50] hohwille commented on #183
Filterring has been activated on purpose as it seems:

        &lt;directory>src/main/resources&lt;/directory>
        &lt;filtering>true&lt;/filtering>
      &lt;/resource>

Please note that oasp4j-sample-server/src/main/resources only contains logback.xml but nothing else.

[2015-02-20 14:52] hohwille commented on #183
It appears as if logback itself is not capable to resovle this

But as maven resolves it you end up with a hard-coded system and user specific tmpdir in your config what is simply wrong.

[2015-02-20 14:56] hohwille commented on #183
I disabled the filtering in maven and rebuild and cleaned. Logback can still resolve the filePath so I assume the filtering is simply wrong and has to be removed. Thats all...

[2015-02-20 15:00] hohwille commented on #183
The reason seems to be #156. However we now see that the solution is not working as expected.

See logback.xml:

See toplevel POM:

      &lt;id>deploy&lt;/id>
      &lt;!-- exclude sample from release / deployment -->
      &lt;modules>
        &lt;module>oasp4j-bom&lt;/module>
        &lt;module>oasp4j-modules&lt;/module>
        &lt;module>oasp4j-templates&lt;/module>
      &lt;/modules>

[2015-02-20 15:02] hohwille commented on #183
We should try to set log.console.disabled via application[-default].properties instead.

[2015-02-23 08:34] hohwille commented on #182
From Martin Buch:

append to ```V0001__Create_schema.sql```:

    revtype TINYINT,
    description VARCHAR(255),
    name VARCHAR(255),
    pictureId BIGINT,
    alcoholic BOOLEAN,
    dtype VARCHAR(31) NOT NULL,
    id BIGINT NOT NULL,
    rev BIGINT NOT NULL
);
CREATE CACHED TABLE PUBLIC.REVINFO(
    id BIGINT NOT NULL generated by default as identity (start with 1),
    timestamp BIGINT NOT NUL

[2015-02-23 08:35] hohwille commented on #182
This is what @julianmetzler IMHO forgot to commit and push. Today I have not much time and julian will be back tomorrow. Sorry for inconvenience...

[2015-02-23 08:40] hohwille commented on #182
seems to solve the problem. Thanks Martin!

[2015-02-23 13:51] hohwille commented on #181
travis now passes but log is still 3,9 MB so we should raise more levels or the error will come back soon.
Suggestions are welcome. Set Hibernate to INFO level?

[2015-02-23 13:53] hohwille commented on #181
Please note: we are only talking about the log config for tests and not for what is logged in tomcat (e.g. in Eclipse console) what is configured separately.

[2015-02-24 08:06] julianmetzler commented on #182
Sorry for inconvenience, from my understanding the
database.hibernate.hbm2ddl.auto = update
property should result in hibernate create these tables on startup, which has worked on my tests.
But inserting the tables in the flyway migration is the cleaner solution anyway.

[2015-02-24 08:10] julianmetzler commented on #142
Regarding this problem I didn't find a solution.

[2015-02-24 09:28] hohwille commented on #124
I thought we now have solved the actual problem but not jenkins failed again. Can someone shed a light into this. Why did jenkins fail (404 errors)?

Is this not deterministic? I think so. What is going on?

[2015-02-24 09:36] julianmetzler commented on #124
There is a exception, when starting tomcat for integration tests:
Caused by: org.h2.jdbc.JdbcSQLException: Exception opening port "8143" (port may be in use), cause: "java.net.BindException: Address already in use" [90061-176]

I guess this is why the tests get a 404.

[2015-02-24 09:48] sobkowiak commented on #124
I can find one process running on port `8143`

[code]

The sample deployed on Tomcat rund the H2 database on this port

[2015-02-24 09:51] sobkowiak commented on #124
The file `/usr/share/tomcat7/lib/config/env/application.properties`  contains following entry

[code]

No port given, but `8143` is probably a standard H2 port.

[2015-02-24 09:55] julianmetzler commented on #183
An other solution would be to escape the property that should not be filtered by maven with the [maven escape string](http://maven.apache.org/plugins/maven-resources-plugin/resources-mojo.html#escapeString).

[2015-02-24 10:00] sobkowiak commented on #124
I have changed the `oasp.port.range`value in the nb job.

[2015-02-24 10:05] sobkowiak commented on #124
The itests crashed now due to memory problem

[code]

[2015-02-24 10:20] hohwille commented on #183
That would be every property except log.console.disabled.
I still think it is safer and better to disable filtering.
In the end a real system and user will have its own logback.xml.
Who would want to log to tempdir? That is all nuts. It is a valid default for a simple sample application to be installed easily and run anywhere but never suitable for production or reasonable environments.

[2015-02-24 10:22] hohwille commented on #183
We could also have two files one for dev and one for building a reasonable WAR. Then we could switch between these files in the build via maven-war-plugin.

[2015-02-24 10:32] sobkowiak commented on #124
I have started the build and observed the memory usage on Linux machine. The machine runs out of resources quickly and the jvm can not allocate more memory. I propose to restart Tomcat or the whole machine

[2015-02-24 10:46] sobkowiak commented on #124
We have enabled itests some days ago (20.02). We have not started them in nb before so we had no problems. After enabling them again the database port from itests conflicted with the database port used by the sample deployed on Tomcat. It could be solved by redefining the port using `oasp.port.range`. But we have no memory problems.

[2015-02-24 12:14] sobkowiak commented on #124
The problem is probably common with #181

[2015-02-24 16:11] hohwille commented on #182
Thanks for the info. So this is considered as fixed if the DDLs are correct. For future changes please also consider AUD tables in flyway.

[2015-02-24 16:11] #182 closed

[2015-02-24 16:19] hohwille commented on #166
what is left to do here? Review? Implementation seems complete...

[2015-02-24 16:20] hohwille commented on #166
Has this been documented in dataaccess guide?

[2015-02-24 16:32] julianmetzler commented on #166
Not yet.

[2015-02-24 19:41] sobkowiak commented on #124
I have used an invasive solution

[code]

The build goes further and fails but the displayed log file is broken somewhere in the middle of oasp4j-sample-core test cases. I think we write too much in the logs. We don't need the DEBUG log level in test cases. Please decrease the level to INFO

[2015-02-24 20:38] sobkowiak commented on #124
Decreasing the log size (fbf81b4b550582fa65cd7b96f2c5adeb527ee9f4) didn't help.

[2015-02-24 22:25] sobkowiak commented on #124
After restart we have no more the problem with conflicting port and no more problems with memory allocation. I can see, each build increases the memory used by Tomcat. It means, we will have soon the same problem.

Actually the test cases can be run but some of them fail:

[code]

The most of them are probably caused by following error

[code]

The same errors I'm getting on my local machine. They

[2015-02-25 08:58] oelsabba commented on #124
@sobkowiak I am wondering about the test of `TableManagementRestServiceTest.markTableAsTest`.
I think all mark*As should have been removed (Please see #172). Thus, I suggest re-opening this issue. But, I think this only partially solves the problem.

[2015-02-25 09:48] julianmetzler commented on #124
@oelsabba I think you're right, that test should be removed, but the real problem seems to be the HTTP 403 Forbidden response on many tests. They occur on creation of tables (*saveTable()*), but I don't get why the permissions seems to be okay.

[2015-02-25 10:21] julianmetzler commented on #175
The Java part seems to be ok now, in xml resources are still some application specific snippets (e.g. *access-control-schema.xml*).

[2015-02-25 10:43] julianmetzler commented on #166
I added documentation in this to the [dataaccess layer guide](https://github.com/oasp/oasp4j/wiki/guide-dataaccess-layer#database-auditing).

[2015-02-25 12:24] hohwille commented on #166
We should discuss if the entity inheritance really needs to be changed? IMHO we should have everything already in AbstractPersistenceEntity and remove AbstractRevisionedPersistenceEntity. Java only allows single inheritance and with your approach this will cause unnecessary problems.
For DAOs everything is fine and as expected.

[2015-02-27 07:33] hohwille opened #184 "test: use modern assertions"
we are historically used to JUnits assertNotNull, assertEquals, etc.
However there are far better ways to do assertions with
* better to read test-code
* better failure messages

There are three possible solutions:
* Hamcrest (http://hamcrest.org/JavaHamcrest/)
* AssertJ (http://joel-costigliola.github.io/assertj/)
* FEST (https://code.google.com/p/fest/#Fluent_Assertions)

The good thing about Ha

[2015-02-27 07:46] hohwille commented on #184
I personally think AssertJ is a very good choice. Jean Philippe also used it with great success and suggest it as best choice.
See e.g.
http://www.javacodegeeks.com/2014/10/assertj-fest-hamcrest.html
https://groups.google.com/forum/#!topic/assertj/PRyTX-poBS8

[2015-02-27 09:01] demod commented on #184
As Jörg already mentioned I'm a big fan of AssertJ. In my opinion tests using AssertJ are easier to write and read and also contain fewer errors than tests written using hamcrest or standard assertions. Also fest-assertions is dead (no commits for 2 years in the fest-assert-2.x branch).

However, AssertJ is not perfect and there are a few parts of its API that are easy to misunderstand, e.g. the j

[2015-02-27 10:20] maihacke commented on #153
Just a comment about database cleanup.
In many complex scenarios you cannot rely on rollbacking mechanism provided by spring test for example. I would suggest a test not to cleanup data after run, but to implement tests cleaning up data before running the test. Deleting after test run makes failure analysis harder, since produced testdata is lost.

[2015-02-27 10:22] hohwille opened #185 "test: consider JBehave"
http://jbehave.org/

[2015-02-27 10:39] maihacke commented on #142
Could you please explain, whats open here?

[2015-02-27 19:08] sobkowiak commented on #124
Problems with `Forbidden HTTP 403 Forbidden` in test cases are caused by wrong user/role assigbnebt in test data. I'm gonna correct this

[2015-02-27 19:47] sobkowiak commented on #124
15 testcases ignored...  our itests don't look excellent. i propose to spend a bit more time to make them working...

[2015-02-27 19:51] sobkowiak opened #186 "Upgrade to Spring Boot 1.1.11.RELEASE"
Before we upgrade to Boot 1.2.x (which takes a bit more time) we can upgrade the fix version now

[2015-02-27 19:52] sobkowiak opened #187 "Upgrade to Apache CXF 3.0.4"
A new fix version has ben released a week ago. We cen perform the upgrade to the new version.

[2015-02-27 22:06] sobkowiak commented on #124
Please review my last commit.

[2015-02-27 22:31] #187 closed

[2015-02-27 22:32] #186 closed

[2015-02-28 09:00] maihacke commented on #55
Implementing HashCode does hurt very often. If an entity is used in sets, after changing a single property all maps, where this entity is inside - are heavily broken. Since use have to implement equals and hashcode togehter, I strongly vote for just not implement them.
I had many problems in projects where there was a (generated) implementation, but had never a single problem, when there was just

[2015-02-28 20:04] abuwipp commented on #185
JBehave needs some configuration before it can be used. With Thucydides there comes
a) a sufficient set of defaults in a ready, but customizable configuration,
b) a navigatable summary of the test results.
Thucydides helped me to get started with JBehave.

[2015-03-01 07:59] abuwipp commented on #185
http://thucydides.info/docs/thucydides/_setting_up_your_project_and_organizing_your_directory_structure.html shows how thucydides and JBehave can be used to implement features test driven and with customer friendly reporting.

[2015-03-02 07:19] dchiarad opened #188 "Usage of CheckForNull/NonNull Annotations"
This is more related to the programming model:
How about the usage of @ChekForNull and @Nonnull (from the javax package)? If you have a method which accepts some optional parameter or has an optional return values it is not possible to identify them without reading the javadoc/looking at the code. In my past projects we used one of the following two approaches:
1.	Use CheckForNull and Nonnull anno

[2015-03-02 09:07] may-bee commented on #188
I would go for `javax.validation.constraints.NotNull` as eclipse is able to do nullchecks by the compiler easily. Optional<?> would make the API more unreadable.

Bug be aware of this issue, when using javax `@NotNull` checks, eclipse luna, and Java8:
http://stackoverflow.com/questions/27041741/null-analysis-in-eclipse-compatibility-break-between-7-and-8

[2015-03-02 09:13] may-bee commented on #184
I like working with Hamcrest. Nevertheless, the worst issue of hamcrest are the static methods to be used as parameters of `assertThat(...)`. It is not easy to discover functionality this way.
Especially therefore, I would prefer AssertJ as it seems to provide nearly the same functionality as hamcrest.

[2015-03-02 11:38] hohwille opened #189 "test: consider arquillian"
We want to evaluate and consider arquillian: http://arquillian.org/
It might be a complex beast but:
* we could solve all kind of component testing with one approach then no matter if spring and tomcat or full fledged JEE app server.
* we currently have problems with more integrative tests where arquillian might be more reliable - see #124

We should give it a try and collect the experience and se

[2015-03-02 11:39] hohwille commented on #124
I assume that our current approach is generally not reliable if processes remain hanging and get orphaned. We should probably try arquillian and see if this is a more reliable approach - see #189

[2015-03-02 11:57] sobkowiak commented on #124
:+1: For me it's ok.

[2015-03-02 17:18] hohwille commented on #166
Review:
You changed ApplicationDao to extend RevisionedDao. This means that every DAO now offers the historization/auditing operations even if the entity is not audited. IMHO only DAOs responsible for an audited entity shall do that manually (I assume cobigen can cope with that as well triggered via @Audited annotation).

Sorry, I wrote this before I did a review and assumed you did this like it w

[2015-03-02 17:26] hohwille commented on #166
For the sample app my review is as following:
* We should audit all the entities Product (also Meal and SideDish) as well as Offer.
* We should expose the history/journal via Service (e.g. extend find with optional revision).
* We should extend the JSClient with dialogs to display the revisions and retrieve the historical data.

All this sample extensions shall be probably done with separate issue

[2015-03-02 17:29] hohwille commented on #188
http://types.cs.washington.edu/checker-framework/

[2015-03-02 17:30] hohwille commented on #188
:+1: from me on that.

[2015-03-02 18:08] may-bee commented on #188
Sounds interesting from a researchers point of view. Nevertheless, building the source code will depend on a additional framework to be configured, which might not be appropriate for the customer as far as I got the last discussions (same for lombok). :(

[2015-03-03 07:49] julianmetzler commented on #142
Currently when a file is uploaded as a BLOB it is loaded completely to memory and then it is written to the database.

To support files that are larger than memory it would be better to find a solution to write a BLOB to the database without loading it to memory completely.

[2015-03-03 07:49] hohwille commented on #153
@maihacke thanks. We discussed the same things in the telco on testing. I fully agree with you :+1:

[2015-03-03 07:52] hohwille commented on #142
To further explain what @julianmetzler said: We already tried to stream the data instead of loading into byte[] but a naive approach is simply not working for technical reasons (JAX-RS and JPA do not go well together here - maybe TX is closed in the middle of async processing or whatever, download receives truncated garbage if we use real streaming instead of byte[]).

[2015-03-03 08:02] julianmetzler opened #190 "Sample: extend example for database auditing"
From #166 we have the issue to provide a more advanced example usage of database auditing we should audit all the entities Product (also Meal and SideDish) as well as Offer.

[2015-03-03 08:12] julianmetzler commented on #190
Because of a [bug](https://hibernate.atlassian.net/browse/HHH-9042) in envers it is not possible to audit a entity using a converter, like it is done in the OfferEntity (MoneyAttributeConverter). The current version is 4.3.5.Final fix versions are 4.3.9 and 5.0.0.

[2015-03-03 09:21] Max-Goebel commented on #185
Concordion has a similar approach as JBehav/Sernity:
http://concordion.org/Tutorial.html

It may be an alternative.

[2015-03-03 12:49] hohwille commented on #55
I have done projects with the opposite experience. This seems to be not an easy one. We should either collect more details here (or in a rationale wiki page) or have a meeting about this.
If we are implementing equals and hashCode we should use Java7 features and not the ugly Eclipse default generated crap.

[2015-03-03 12:51] hohwille commented on #55
BTW: The general question is if equals should behave technical or logical. However one can always use (x == x) for identity check and does not need x.equals(x) then.

[2015-03-03 12:57] hohwille commented on #185
On the first look JBehave looks simpler and still as promising to me. We also have at least two project references with JBehave. However, to get started we need a good example. If someone can provide one with JBehave (or any other tool) and we can then discuss on that we have a basis. Then also someone can argue what is bad about the example or what could be done better (with the same tooling or w

[2015-03-03 13:24] julianmetzler commented on #166
You changed ApplicationDao to extend RevisionedDao. This means that every DAO now offers the historization/auditing operations even if the entity is not audited.

So should there be an RevisionedApplicationDao extending from RevisionedDao and an ApplicationDao extending from Dao?

[2015-03-03 13:42] julianmetzler commented on #183
The path can be set to a relative path (../logs) so the logs are stored in the logs directory of tomcat if the application runs in tomcat.
If the application runs in eclipse the logs would go to *oasp/software/logs*. That can be changed by changing the working directory of Tomcat in eclipse. The working directory of tomcat can be changed in the corresponding run configuration. Changing the default

[2015-03-03 14:16] hohwille commented on #166
The actual problem in Java is the lack of multi-inheritance. The \*Application* classes are actually used as a shim to reduce dependencies to modules. Projects should be able to place specific extensions or new features (or even specific fixes) afterwards in a central place. A RevisionedApplicationDaoImpl (or ApplicationRevisionedDaoImpl) would have to derive both from the ApplicationDaoImpl as we

[2015-03-03 14:26] fawinter commented on #180
It is now possible to change the table and save/paste the order from the former table to the new table.
We still need to fix some issues as for now it is still possible to switch between the same table and  to change to an occupied table.

[2015-03-04 08:02] hohwille commented on #183
Seems sufficient. We can thing about providing a pre-configured launch config for tomcat with oasp4j-ide. Can you try this (create a new issue in oasp4j-ide)? Launch configs have a tab "common" that allows "Save as" set to "shared file". Then you get an XML file for it. This file can be part of the pre-configured workspace.

IMHO we can then close this issue or is there anything left?

[2015-03-04 08:03] hohwille commented on #183
Before closing: please add a comment to explain the relative path ../logs in logback.xml.

[2015-03-04 08:05] hohwille commented on #180
@fawinter awesome :+1:
Could you create a JUnit test to verify this use-case?

[2015-03-04 14:18] julianmetzler commented on #175
related commit: https://github.com/oasp/oasp4j/commit/8c3dd2311e857a346974722a92bf984873b48509

This should be fixed now.

[2015-03-06 16:17] hohwille opened #191 "Add method GenericDao.forceIncerementModificationCounter(E entity)"
Implementation:

Some inspirations for JavaDoc:
Enforces to increment the {@link Entity#getModificationCounter() modificationCounter} e.g. to enforce that a parent object gets locked when its children are modified.
https://blogs.oracle.com/carolmcdonald/entry/jpa_2_0_concurrency_and

[2015-03-09 08:14] hohwille opened #192 "test: create interfaces for integration levels (test stages)"
We have defined the names/terms for the testing integration levels:
https://github.com/oasp/oasp4j/wiki/guide-testing#integration-levels

We need to define interfaces in oasp4j-test module for that with appropriate javadoc (initially just like to the wiki as not yet finalized). In the tests we will then use JUnit categories to associate the tests with the integration levels:
https://github.com/jun

[2015-03-09 08:25] hohwille commented on #184
I did also some investigation. IMHO we can already agree on:
* regular JUnit assertions like assertNull, assertEquals are dead and should be avoided for new tests.
* FEST is not a real option for the future.

The nice aspect of harmcrest is that it is already there (comes with JUnit).
However AssertJ is just a dependency away and offers better completion and usage.

As @may-bee I would also vote f

[2015-03-09 20:40] jowe commented on #191
Looks good to me and is a nice addition to the Generic DAO.

[2015-03-10 06:48] amarinso opened #193 "Add pagination support"
There should be at least a sample of how to work with pages of entities both on the server and client side of the sample application.

[2015-03-10 06:54] amarinso opened #194 "Generic parent for SortBy objects"
As sortby objetcts (example: ProductSortBy) share common structure it could be useful to have a parent with generics.

That will reduce the need for more aggregated objects and maybe implement some common behaviour for sorting.

[2015-03-10 07:40] may-bee opened #195 "Memory issue on Jenkins"
I currently observe random memory issues in the nightly builds.
You could find the following messages in the failed builds. Is there a chance to upgrade memory on the build machine?

[code]

[2015-03-10 07:50] sobkowiak commented on #195
This was already observerd here #124. It is probably caused by the cargo & tomcat way of itests. The test Tomcat instance is sometimes still running after the build is finished. I think not all is correctly shut down and the memory is not correctly cleaned-up by the itests.  It should probably be fixed when we migrate the tests to arquillian (#124)

[2015-03-10 07:54] may-bee commented on #195
Arquillian is not yet fixed as far as I know, but obviously it makes sense to wait for this decision. If arquillian makes a good job, it is worth checking whether the problem will vanish automatically.

[2015-03-10 08:03] hohwille commented on #193
Jep. We have that on the server side (see e.g. SearchCriteriaTo/AbstractSearchCriteria and AbstractGenericDao.applyCriteria(...)).
On the client side we still have discussion on the table/list widget. There is also endless scrolling as alternative to paging but paging is more KISS.

But you are completely right this is a standard demand that needs to be addressed.

[2015-03-10 08:06] sobkowiak commented on #195
We can restart Tomcat 2-3 times a week. It should help for now.

[2015-03-10 08:08] hohwille commented on #194
Actually the entire model around that ProductSortBy is bad. This is some leftover from an earlier sample app that was refactored and needs some tidy up. Its simple and it is working but we are also planing a generic search mechanism (was proposed on the summit) including a generic dialog component to dynamically create queries on the client by adding criteria. As soon as we have this, it will supe

[2015-03-10 09:02] hohwille commented on #195
with the simple maven/cargo approach we have a lot of trouble. If we can switch to Arquillian and this will work reliable, this will be an argument for itself so IMHO then we have nothing more to discuss about the change. We should get some activity on an Arquillian I-Test prototype and then see how it works.

[2015-03-11 09:26] may-bee commented on #149
I am with @maihacke as we are also talking about @NotNull annotations to avoid nullpointer exceptions and get warned by the compliler very early. So why not being more clear here and use primitives where null values will not occur?

[2015-03-11 15:03] julianmetzler commented on #190
The Envers issue is still unresolved, and the 4.3.9 release has still 20 issues in 'To Do' state.

[2015-03-11 15:17] abuwipp commented on #184
Just had my first try with AssertJ. Seams to work fine, especially the code completion.

One learning was: AssertJ since 2.0 works only with Java 7. So I had to switch back to AssertJ 1.5.7.

[2015-03-11 17:03] may-bee commented on #184
Nice, I am lucky that there is also a solution for legacy systems using Java 1.6, but nevertheless, this should not be focus any more. For our best practices and the sample application we should rather concentrate on AssertJ 2.0.

I currently do not have the overview about the differences between the versions, whereas 2.0 might indicate also some API changes etc.

[2015-03-12 08:44] hohwille commented on #149
Do you then propose to also change that in DAOs and Services to be consistent?
Be also aware that we are using a generic for PK in GenericDao and Java prevents to fill in primitive types for generics.
I do not mind to change the methods as you propose but I also do not see much value in this improvement. If you want to prioritize then feel free to contribute :)

[2015-03-12 09:43] may-bee commented on #149
Ok I see the problem of consistency. But nevertheless, if we want to provide generic implementations this is a fallback we have to take. However, restricting the interface on logic as well as on service layer would ensure correct behavior due to data sovereignty of components for any parameter passed to the system.

Otherwise you will end up with odd trivial not null checks and some exception hand

[2015-03-12 19:46] may-bee commented on #142
but saving (streaming from REST to database) works?

[2015-03-12 20:12] #181 closed

[2015-03-12 20:14] may-bee commented on #154
@sobkowiak have you opened an issue in the logback community? If this is really an unknown issue, we should provide some problem description.

I think then we can close this issue.

[2015-03-12 20:14] #154 closed

[2015-03-13 08:06] hohwille commented on #149
I think nobody will (or shall) implement not null checks in these cases but you might end up with NPEs what is pain. So lets change the Services and the Use-Cases to use primitive long.

[2015-03-13 08:08] hohwille commented on #181
:+1: thanks @may-bee

[2015-03-13 08:14] hohwille commented on #184
I have also switched to AssertJ in my OSS project. Works like a charm and I can not imagine going back to plain JUnit or even hamcrest anymore.
If there are no further arguments I would consider AssertJ as choosen and will give the GO for migrating all JUnits to AssertJ.

[2015-03-16 08:55] sobkowiak opened #196 "Missing autogenerated WADL for rest services"
CXF also supports autogenerated wadl: http://stackoverflow.com/questions/10807668/generate-wadl-from-existing-cxf-rest-service

However, in our sample it is missing since one of the CXF upgrades. Previously it was generated, but the content was not correct.

http://oasp-ci.cloudapp.net/oasp4j-sample/services/rest?_wadl
http://oasp-ci.cloudapp.net/oasp4j-sample/services/rest/offermanagement?_wadl

[2015-03-16 16:52] sobkowiak commented on #196
Since CXF 3.0.0 WADL Generator code has been moved to
[code]
Our sample is missing this dependency.

[2015-03-16 22:14] #196 closed

[2015-03-17 10:59] hohwille opened #197 "sample: introduce service versioning"
The REST-services of our sample app currently do not follow our own conventions for service versioning. Initially this was considered as unnecessary for the REST-services consumed by the UI. However, we should do that in any case. In the end you never know upfront who will consume your services on the long run. If you are totally aware that the web client is the only consumer of the services you c

[2015-03-18 09:01] sobkowiak commented on #174
I think this change is too critical to be included in this month. Reassigniong for the next release

[2015-03-19 15:26] hohwille opened #198 "json: consider JSON-P and JSON-B"
JSON-P is already available:
http://repo1.maven.org/maven2/javax/json/javax.json-api/1.0/
and there are OSS implementations, e.g.:
https://jsonp.java.net/

JSON-B still takes some time but as soon as it is available and a reliable implementation is available, we should have a look. This is one of the black spots where we currently lack a standard and a tight to jackson as implementation (it does i

[2015-03-19 15:28] hohwille commented on #198
https://java.net/projects/jsonb-spec/pages/Home

[2015-03-19 15:28] hohwille commented on #198
https://java.net/projects/jsonb-spec/sources/git/show

[2015-03-23 11:51] #180 closed

[2015-03-23 12:31] hohwille commented on #175
Thanks. Seems complete now.

[2015-03-23 12:31] #175 closed

[2015-03-23 12:32] hohwille commented on #183
The actual problem had been fixed.

[2015-03-23 12:32] #183 closed

[2015-03-23 12:34] hohwille opened #199 "test: cleanup existing test-cases"
With #184 and #192 we defined a modernized way for JUnit tests. We should cleanup existing tests so we hold our own conventions.

[2015-03-23 12:34] hohwille commented on #192
IMHO done. File new issues for further ideas and improvements.

[2015-03-23 12:34] #192 closed

[2015-03-23 12:35] hohwille commented on #184
There was no further argument so far. I will close. Otherwise reopen...

[2015-03-23 12:35] #184 closed

[2015-03-24 06:39] amarinso opened #200 "Remove Rest interface class TableManagmentRestService"
Hi, I could not find the case for this interface... maybe was used on a previous version and is still around?

[2015-03-24 08:33] hohwille commented on #200
Completely true. This is a leftover and shall be deleted.
FYI: However, we will extract REST interfaces for client usage in the future (both for testing as well as for using the services in a different app - we are proposing SOA based on REST).

[2015-03-24 08:37] hohwille commented on #200
@amarinso thanks for the feedback. Done.

[2015-03-24 08:37] #200 closed

[2015-03-24 13:16] hohwille commented on #107
As we did not find anybody to contribute I had to move out of 1.1.0. Volunteers are most welcome.

[2015-03-24 21:49] hohwille commented on #191
Review completed. Looks good.

[2015-03-24 21:49] #191 closed

[2015-03-24 22:04] hohwille commented on #178
Done.

[2015-03-24 22:04] #178 closed

[2015-03-24 22:13] hohwille commented on #124
I know this is a pain but we can not complete this till the end of the week for the release.
We also urgently need volunteers with e.g. Arquillian experience that can replace the current i-tests with nice and reliable tests.

[2015-03-24 22:14] hohwille commented on #197
done. Thanks.

[2015-03-24 22:14] #197 closed

[2015-03-24 22:15] hohwille commented on #197
PR for OASP4JS still has to be merged.

[2015-03-24 22:21] hohwille commented on #166
We are close to the end and I hope to get this complete for the release.
IMHO RevisionedPersistenceEntity should be renamed as this interface is implemented by all persistence entities used in the OASP4J (sample) no matter if they are "revisioned" (audited) or not. This appears confusing. Also both ApplicationDao and ApplicationRevisionedDao rely on the same interface - what is not wrong but then

[2015-03-24 22:24] hohwille commented on #166
If we have GenericDao and Dao that binds the GenericDao to Long for &lt;ID>, then should not the current RevisionedDao be named GenericRevisionedDao? Should we also have RevisionedDao with Long bound to &lt;ID>?

[2015-03-24 22:29] hohwille commented on #166
RevisionMetadata.getCreator() returns Object. Its implementation returns a String (AbstractRevisionEntity.getUser() what actually seems to be the login of the user).
This approach allows some flexibility but IMHO Object in general is a bad signature.
We should either return something like java.security.Principal or fix it to the String (what is the ID/login of the user). I think the simplest but s

[2015-03-24 22:32] hohwille commented on #166
What is actually left to do (besides my last review comments / suggestions for improvement)?
There is still a bug in envers when using AttributeConverters. Can you paste the link to the bug here?
How about getRevision() for related entitites from history - will it work or can we find a solution to make it work? The latter things can still be done in a later release. However the API suggestions sho

[2015-03-24 22:33] hohwille commented on #168
We should resolve as many warnings as we can before 1.1.0 and then move this issue to the next release.

[2015-03-24 22:35] hohwille opened #202 "Release oasp:1.1.0"
Release has to be tagged, build and staged. For tagging we should stick to annotated tags. I will start writing a guide in the wiki with all the steps to go.

[2015-03-24 23:53] hohwille commented on #166
So I have resolved my own review comments.

https://hibernate.atlassian.net/browse/HHH-9042

We are still missing a JUnit component test for this feature in oasp4j-jpa-envers.

[2015-03-27 07:55] hohwille commented on #198
I found that we have code in our sample that is directly using jackson in TOs what is undesired. Proprietary dependencies in business objects is not nice.
We should do that if we have a reliable standard.

https://github.com/oasp/oasp4j/blob/beeb881cf9b37708d20acb0409a2213e764c230f/oasp4j-samples/oasp4j-sample-core/src/main/java/io/oasp/gastronomy/restaurant/salesmanagement/websocket/PositionStatu

[2015-03-27 12:15] abuwipp commented on #189
GEMAESS MAIL VON JÖRG VON EBEN
ALS EINSTIEG DER BEITRAG VON SIMON:

From: Spielmann, Simon
Sent: Freitag, 27. März 2015 07:51
To: Sobkowiak, Krzysztof
Cc: Hohwiller, Jörg; Matczak, Marek; Rose, Marco
Subject: Re: Build failed in Jenkins: oasp4j-dev-nb #301

Hallo zusammen,

hab nicht die gesamte Diskussion verfolgt.
Warum brauchen wir überhaupt diese Plugins? In der RF deployen wir die Anwendung e

[2015-03-27 12:26] abuwipp commented on #189
Arquillian ist gut, um Teile der Anwendung, die notwendigerweise Container-Funktionalität benutzen (Module, DAOs, Web-UI, ...), in kleinen Tests ähnlich Unit Tests abzusichern - unter Verwendung genau der Container-Funktionalität.

Für White Box Tests ist, wie Simon oben schreibt, ein produktionsnahes Deployment der Anwendung besser geeignet. Ein produktionsnahes Deployment wird durch eine produkt

[2015-03-27 18:26] hohwille opened #203 "archtetype broken"
The changes for #175 introduced some bugs that broke our archetype.
1. beans-service.xml contains invalid XML so the app does not startup in tomcat
2. Money is not removed from the code but is still referenced in config.

[2015-03-27 18:28] hohwille commented on #203
Problem 1. is that the archetype ant script is actually removing all content from the first to the last begin/end markers even if there are multiple markers in the same file.

[2015-03-27 18:40] hohwille commented on #203
Now 1. is fixed. The pattern had to be non-greedy for XML. Was already done this way for java.

This now reveals the next problem 3.:

	at io.oasp.module.security.common.base.accesscontrol.AbstractAccessControlProvider.initialize(AbstractAccessControlProvider.java:52)

[2015-03-27 18:58] hohwille commented on #203
now manual tests look good.

[2015-03-27 18:58] #203 closed

[2015-03-27 19:00] hohwille commented on #168
@fawinter thanks. Only 6 warnings left. These will be fixed in next release.

[2015-03-27 19:02] hohwille opened #204 "complete auditing support"
There are some leftovers from #166 especially that there is no test-case.

[2015-03-27 19:03] hohwille commented on #166
complete for release.

[2015-03-27 19:03] #166 closed

[2015-03-28 10:22] hohwille commented on #202
https://oss.sonatype.org/content/repositories/iooasp-1009/
I will release tonight (no regular voting this time) - if you have any feedback or find any bugs, let me know asap.

[2015-03-28 11:32] hohwille commented on #202
Documentation of Release 1.1.0 already online:
http://oasp.github.io/oasp4j/1.1.0/

[2015-03-28 17:25] hohwille commented on #202
For the record: As promised I created the instructions for creating the release:
https://github.com/oasp-forge/oasp4j-wiki/wiki/oasp-release

[2015-03-28 18:12] sobkowiak commented on #202
:+1:  looks good

[2015-03-28 21:04] hohwille commented on #202
Release is now available in central. E.g.:
http://repo1.maven.org/maven2/io/oasp/java/modules/oasp4j-jpa-envers/1.1.0/

[2015-03-28 21:04] #202 closed

[2015-03-30 05:14] sobkowiak commented on #202
List of closed issues: https://github.com/oasp/oasp4j/issues?q=milestone%3Aoasp%3A1.1.0

[2015-03-30 09:56] Max-Goebel opened #205 "Test Metrics"
The purpose of this issue is to make the following decicions:
* _Which metrics should be used to measure test intensity?_ The most common metric is code coverage, which can be subclassified in package coverage, class coverage, method coverage and statement coverage. The OASP4J testing guide currently says:

* _Which intensity should be recommended?_ Referring to code coverage, the OASP4J testing g

[2015-03-30 10:03] Max-Goebel commented on #205
I like code coverage. Of course it is not sufficient just to cover code without any assertions. But I frequently made the experience that testers get stack traces because some statements haven't been executed in JUnit Test. Such silly bugs make testers angry and could be reduced by high code coverage. Further more, code coverage is easy to measure and most developers are familar with it. -> It's v

[2015-04-01 08:22] Max-Goebel opened #206 "Deployment pipeline"
Currently the testing wiki recommends:
* Define a deployment pipeline!
* The deployment pipeline should have one fast running, automated validation stage to give the developers fast feedback.
* The deployment pipeline should have at least one manual validation step (user acceptance test).

Review discussions around the testing wiki showed, that OASP4J maybe should give more support for creating an

[2015-04-01 08:24] Max-Goebel commented on #206
From Axel’s mail I extracted the following points:
* All validation stages should be automated, no manual testing.
* OASP4J should define concrete time limits for validation steps.
* There should be a maximum of transparency. Customers should be able to understand a change’s state at every point in time.
* In order to provide such a high level of transparency, test cases should be based on user st

[2015-04-01 08:26] Max-Goebel commented on #206
These are my remarks to these points:
* As the deployment pipeline ends with deployment into production, there must be at least one manual validation step.
* I do not think that we find time limits for stages that fit 90% of our projects
* A high level of transparency towards the customer is fine
* User stories are fine, but I’m not sure if they fit 90% of our projects. Basically, we have to types

[2015-04-01 08:53] julianmetzler commented on #204
There is already a issue for leftovers from auditing: #190

[2015-04-01 15:36] Max-Goebel opened #207 "data driven test"
There are many situations where you want to test one piece of code with several different data. For that purpose, you need
* test code that invokes the code under test and compares its results with predefined expected results.
* test data, consisting of input and expected results.

Of course, it would be a bad test design to duplicate the test code for each record of test. With a clean test design

[2015-04-01 15:36] Max-Goebel commented on #207
I vote for solution 3.

[2015-04-02 07:53] may-bee opened #208 "oasp4j sample-server archetype misses *-server-integration project"
A users observed that the currently release version v1.1.0 of the oasp4j archetype misses the *-server-integration project, when generating a new inital maven project using the archetype.

[2015-04-02 09:44] may-bee opened #209 "build and release v1.1.0 documentation"
Currently the v1.1.0 PDF documentation has not been released on the webpage.
We should catch this up.

[2015-04-07 15:30] hohwille commented on #204
#190 is about the sample application. This issue should track that the oasp4j-jpa-envers module shall be improved.

[2015-04-07 15:33] hohwille commented on #208
Our integration test strategy based on cargo failed to work as expected.
We are about to create a new and stable solution till the next release. The *-server-integration project will probably die out and will be deleted after the new solution is in place.

[2015-04-10 12:14] hohwille commented on #204
The test that @julianmetzler created is in the sample:
DrinkDaoTest.checkAudit()

However, we need to have a test in the oasp4j-jpa-envers module itself. The current drawback is that we always have to duplicate the test infrastructure. Maybe we should switch to spring-boot sooner. Until then I think we should move the test resources to oasp4j-test but we have to ensure that this will not cause a c

[2015-04-13 10:14] aburghcap commented on #206
Hier die Vorschläge nochmal im Original:
For Continuous Delivery / DevOps it is key to have an automated, reliable quality assurance (see section Deployment Pipeline). All changes should target the following “vision”:
Test suites automatically executed by the Continuous Delivery Pipeline insure what requirements the system is expected to fulfill and whether they are fulfilled. Stakeholders should

[2015-04-14 13:03] jczas commented on #56
This task has been started in branch feature/batch.
In first step we are going to implement some example jobs.

[2015-04-14 13:25] hohwille commented on #56
@jczas great to hear that you are getting started.
Can you please use a fork and provide the result in the end as pull-request.
That would be the official workflow of OASP that we are now using...
Thanks!

[2015-04-14 13:28] hohwille commented on #56
https://github.com/oasp/oasp4j/wiki/oasp-code#code-contribution

[2015-04-15 07:09] hohwille commented on #207
Solution 2 is IMHO only suitable for situations where you want to run a test-case with many test-methods in different technical setups (e.g. with spring and without spring). For running with different data there are more cons than pros - esp. debugging and error reporting is painful.

In easy situations solution 1 is fine, but when it comes to more complex data then 3 is IMHO better.

[2015-04-17 06:14] sobkowiak commented on #145
Thi approach works after user is logged in using the login form. Then it is possible to test the service using a browser plugin (e.g. HttpResuester), because the user has already active session. Problem is while testing from external tool like SoapUI, because it is not possible to perform the form based authentication from this tool. Any help appreciate

[2015-04-17 06:17] sobkowiak commented on #145
It is possible to disable the crfs check using the `-DcsrfDisable=true` parameter

[code]

[2015-04-17 12:36] hohwille commented on #145
Just to give some insights. Aljoscha or Hasham already managed to solve this with SoapUi. Further you should be aware that in devon and enterprise context the authentication is externalized so that service-calls from third-party systems do not require a HTTP session.

[2015-04-17 15:38] sobkowiak commented on #145
It would be nice if they could write a small how-to about this

[2015-04-21 06:57] tonqa opened #210 "Deployment for Standalone Tomcat on Ubuntu"
I am trying to do a deployment for a Tomcat on Ubuntu. However, the WAR from the build process seems to be misconfigured. The Tomcat on Ubuntu does not start the application correctly and does not produce any application-specific logging information as well.

Currently I build the WAR file on Windows by executing the steps below. Then I find the WAR file below _oasp4j\oasp4j-samples\oasp4j-sample-

[2015-04-21 09:57] hohwille commented on #210
@tonqa your build instructions seem correct.
Can you look at ``` logs/catalina.out``` and see if there is something pointing out to the actual problem?
I tried the same on Ubuntu-Server 14.04.1 LTS _Trusty Tahr_ and it works without problems.

[2015-04-22 13:02] hohwille commented on #193
We should add the paging that we already have as infrastructure to our search REST services in our sample asap. We just need to find some assignee - I am currently not available for development...

[2015-04-23 11:50] hohwille commented on #193
https://github.com/oasp/oasp4j/wiki/guide-dataaccess-layer#query-meta-parameters-and-paging
We also need something more detailed for REST as well
https://github.com/oasp/oasp4j/wiki/guide-service-layer#rest

Places where to add to sample:
https://github.com/oasp/oasp4j/blob/develop/oasp4j-samples/oasp4j-sample-core/src/main/java/io/oasp/gastronomy/restaurant/salesmanagement/service/impl/rest/Sales

[2015-04-23 11:51] hohwille commented on #193
@llaszkie: can you comment if you are going for this issue?

[2015-04-23 11:54] llaszkie commented on #193
Roger that.

[2015-04-23 16:30] hohwille commented on #209
I do not know what you mean?
http://oasp.github.io/oasp4j/1.1.0/

[2015-04-23 16:33] may-bee commented on #209
It has been fixed meanwhile.

[2015-04-23 16:33] #209 closed

[2015-04-23 16:35] hohwille commented on #209
I was fixed from the start :)

But I just found that the homepage was not updated to link to 1.1.0 PDF instead 1.0.0. If fixed this and also updated the docs:
http://oasp.github.io/oasp4j/
https://github.com/oasp-forge/oasp4j-wiki/wiki/oasp-release

[2015-04-23 16:37] may-bee commented on #209
Yes, the homepage issue was what I was pointing to.

[2015-04-23 17:59] hohwille commented on #193
As a blocker on behalf of Lukasz I assign the issue to myself.
Lukasz will work on providing a pull-request.
@llaszkie thanks in advance!

[2015-04-23 18:50] tonqa commented on #210
@hohwille Die catalina.out wurde bei mir auf dem Ubuntu-Server nicht erstellt. Es hat sich außerdem herausgestellt, dass die H2 Datenbank bei mir falsch aufgesetzt wurde. Ich bekomme jetzt immer ein H2-spezifischen Fehler, den ich noch nicht beheben konnte:

    Caused by: org.h2.jdbc.JdbcSQLException: Verbindung ist unterbrochen: "unexpected status 16777216"
    Connection is broken: "unexpected

[2015-04-24 05:29] tonqa commented on #210
Related to issue #76 (Documentation for Deployment)

[2015-04-24 07:16] hohwille commented on #210
Actually we are using H2 and flyway because it needs no setup and works smooth. Sorry if you are facing errors.
For flyway see here in our docs:
https://github.com/oasp/oasp4j/wiki/guide-database-migration
For our H2 config have a look here:
https://github.com/oasp/oasp4j/blob/develop/oasp4j-samples/oasp4j-sample-core/src/main/resources/config/app/dataaccess/beans-db-server.xml
https://github.com/

[2015-04-24 09:00] tonqa commented on #210
@hohwille Thanks for your help, to fix the error case I had to reinstall the proper version of the manually installed H2 database from 1.4.x back to 1.3.176. So the application does start up properly.

However I have still got left the problem that I get no application specific logs on Ubuntu. I tried to use lsof to find out if the tomcat has any other log files open, but it does not. Do I have to

[2015-04-24 09:06] hohwille commented on #210
I can not access your machine to see what might be miss-configured. However, in my case a vanilla WAR of oasp4j-sample-server works fine in my tomcat and logs fine. The only issue I just realized is that the filenames contain extra dots: ```localhost_access_log..2015-03-11.txt```.

Where did you build the WAR from? Can you provide the git revision hash? Did you use master or develop branch? Maybe

[2015-04-24 09:37] tonqa commented on #210
I used the develop branch with OASP version 1.1.0. I built the WAR on a Windows computer. I find the logs on the Tomcat on Windows but not on the Tomcat on Ubuntu.

And what do you think why the test data could not have been imported?

[2015-04-24 13:54] hohwille commented on #204
Evers is also still missing here:
http://oasp.github.io/terms-of-use.html

[2015-04-24 22:39] amarinso commented on #210
I've found that the location of the files is dependent of the CWD where you start tomcat. If started by:

tomcat$ ./bin/startup.sh

then the logs are located on a folder at the same level than tomcat.

only if started from inside the bin directory the logs are located inside tomcat/log where they are meant to be and where the comment on the logbak.xml points to.

By the way, on this issue I've fou

[2015-04-25 19:41] Max-Goebel commented on #207
When using solution 3 (csv file), it is important to have only few columns in the csv file. Consequently, the csv file should contain only data that determines the behavior under test. There should be no data in the csv file, that is needed for running the test but does not influence the specific behavior under test (e.g. required fields that must not be null but theirs value doesn't matter). Such

[2015-04-25 20:07] may-bee commented on #207
:+1: for solution 2

Especially in agile development context, maintaining semi-structured documents like csv files for test data management can easily end up in a black whole for efforts. (This may be different e.g. for planned acceptance tests testing a predefined delivery state).

We already used such solution in our internally developed Tk-Unit test framework, which more and more loses its impo

[2015-04-26 14:22] Max-Goebel commented on #207
@May-bee: Do you mean Proven? We should distinguish between two variants of external-file-driven tests: key-word-driven test and data-driven-test. The first one has control statements like "click button X" in the csv file. With the second approach, csv files contain data only. The java test code keeps all control what to do with the data.

Are your bad experiences caused by key-word-driven test or

[2015-04-26 16:24] Max-Goebel opened #212 "Data for testing against interfaces"
How will we treat test data for testing the server against its interfaces to client and to external systems?
Typically, these test data must be available as XML at test runtime. The first question is, when and how this XML should be created:
* Solution 1: Manually, when the test is implemented.
* Solution 2: Automated with data generator, when the test is implemented.
* Solution 3: Automated with

[2015-04-27 06:33] hohwille opened #213 "logback.xml: logging directory is relative to PWD of container start script"
As reported in #210 the logging directory is relative to PWD of the start script. That is an unacceptable situation. We need to find a reasonable solution and as the combination of tomcat and logback should be quite common there should be something available on the web how to resolve.
However, the solution should be portable and not only work with tomcat in general.

[2015-04-27 06:35] hohwille commented on #210
@amarinso thanks for that info. I thought the logdir was relative to CATALINA_BASE and not to PWD of the start script. That actually sucks. We need to find a better solution. I just created #213 for that bug.

Feel free to add the -Pjsclient feature to the documentation but it will be gone with the next release anyway as we will use git modules instead to link server and client and have no need an

[2015-04-27 06:42] hohwille opened #214 "integrate oasp4js with oasp4j"
We need to integrate oasp4js into oasp4j and for the sample client as well as for the archetype template (or offer two variants).
- [ ] define the location where the client shall be located within the maven structure of an oasp4j project (e.g. in `oasp4j-sample-server/src/main/client`).
- [ ] add the oasp4js repo as git module at this location
- [ ] rework the build process to build the client as

[2015-04-27 07:09] hohwille commented on #212
why do you say that such testdata must be XML?
The most important aspect in that case is typically the initial content of the database. How we maintain and import testdata into database is yet to be defined. There were people suggesting dumps (binary or SQL) as well as snapshots. With DBUnit we can also use XML. Besides the format to import is also the format to maintain what must not be the same.

[2015-04-27 09:35] may-bee commented on #207
I meant data-driven-tests.
In the tool mentioned above we declare the filling of large data structures in excel sheets with the original approach of resulting in maintenance improvements due to the fact, that the filling can be understood more easier especially also for customers if they want to maintain the software later on by themselves.

The bad about this is, that during development you will

[2015-04-27 09:39] may-bee commented on #207
But that is my opinion, maybe there are different ones also.
@maihacke or @ahoerning, anybody? I think this is an important topic.

[2015-04-27 15:14] maihacke commented on #207
I think data driven tests is something that only works in very simple use cases. In real world you often have complex data structures for input data and expected results. Trying to externalize this data in csv, xls etc often leads to high maintaince efforts. In my projects there were very few cases where ddt was benetifial.
If tests are developed by developers and not business people, I think ddt,

[2015-04-27 15:23] henning-cg commented on #214
Regarding the location of the client, in many projects we have 2 distinct clients, one optimized for mobile devices, and another client for a desktop-like experience, or in the future, having 2 clients, one Angular and another done in ExtJS

I fear that simply defining a single directory for the JS-client could be quite limiting. Maybe we should explore other possibilities of defining the location

[2015-04-27 19:13] Max-Goebel commented on #207
@may-bee: How would you perform a mass-update with solution 2? I think this is more difficult than in CSV, because with CSV you may use Excel for refactorings. If refactoring-support is important, all data should be created in the code by constructor arguments or by setter methods. This may be realized best with solution 1.

[2015-04-27 19:41] Max-Goebel commented on #212
For discussing database-testdata we should create a seperate ticket or use https://github.com/oasp/oasp4j/issues/153. For discussing testdata used for testing Java-methods there is also a ticket: https://github.com/oasp/oasp4j/issues/207. Of course there are correlations between interface-testdata, db-testdata and java-testdata. But I think we better should have three tickets instead of one monste

[2015-04-28 06:40] may-bee commented on #207
As I have seen in serenity you easily can create the test data in code (`@TestData` annotated methods). Creating your test data on code level e.g. by using a builder pattern, you can easily adapt and maintain changes on database level at a single point: the builder.

In my understanding refactorings are somehow automatic and globally. I do not see how this can be assured by formats like csv files.

[2015-04-28 06:49] may-bee commented on #212
Are interface-testdata for you the testdata with will be part of the service call for example?

[2015-04-28 07:04] hohwille commented on #214
good point we should consider this and give it a more specific path/folder.

[2015-04-28 07:55] hohwille commented on #207
I think you are talking with different views.
There are scenarios that can be refactored easier with a builder pattern approach (e.g. default values or type conversions) while there are other scenarios that can be refactored easier with CSV data (e.g. bulk replace in a specific column).

[2015-04-28 07:57] hohwille commented on #207
In general I have the impression that we are discussing too much on abstract levels in the area of testing. If we create real examples by implementing such test-cases for our sample it would be a lot easier to talk together and come to conclusions. Otherwise we are also tempted to picture the perfect solution with only pros and no cons that unfortunately never exists.

[2015-04-28 13:16] Max-Goebel commented on #212
Yes. I mean testdata for [subsystem-test](https://github.com/oasp/oasp4j/wiki/guide-testing#level-3-subsystem-test).

[2015-04-29 06:20] may-bee commented on #212
In my previous projects we again stick to the builder pattern in this case. We have worked with REST + XML and thus we build up test data using builder implementations for the JAXB Objects we have to transmit to the service. Afterwards we marshall the objects to XML for transmission.
Same pattern - refactoring stable test data creation.

[2015-04-29 07:17] aburghcap commented on #207
Coding test data is as coding logic: following the DRY principle helps to keep the result maintainable. With any non-trivial table of data we soon will run into doubling entries.
Builders allow to abstract from similarities and keep an eye on the differences in various test cases.

I would suggest to start with builders. @may-bee has shown a nice pattern for them. From there any necessary data for

[2015-04-29 07:18] aburghcap commented on #207
Regarding the contra point to solution 1:
The problem of failing for different test method calls can be solved with http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#soft-assertions

[2015-04-29 07:24] hohwille commented on #207
@aburghcap thanks for the hint :+1:

[2015-04-29 19:13] Max-Goebel commented on #207
It seems, that soft-assertions can solve the problem with incomplete error messages in solution 1. But still the whole test method will be reported as "failed", even if just one data record was failed.

[2015-04-30 11:09] hohwille commented on #207
Completely true. The same applies for parameterized tests:
https://github.com/junit-team/junit/wiki/Parameterized-tests

Instead you should create multiple test methods:

[code]

[2015-04-30 19:18] Max-Goebel commented on #207
As far as I know, the Parameterized runner reports one result for each data record. As described at https://github.com/junit-team/junit/wiki/Parameterized-tests, you even can define a name for each record in the report:

Of course, one test method for each data record also is a solution, but increases lines of code.

By the way: What about combining the builder pattern with solution 3 (csv)? The b

[2015-05-03 18:46] Max-Goebel commented on #212
To be more specific, there are the following types of test data that are needed for testing interfaces:

Input data:
* XML, used for sending SOAP requests to the system under test
* URIs, used for sending REST requests to the system under test
* Serialized method calls, used for sending HTTP-invoker requests to the system under test

Expected results:
* XML, used for validating SOAP requests to se

[2015-05-05 15:30] hohwille commented on #213
Please note that in any reasonable setup the operators will override the logger configuration anyways and not rely on a file bundled in a WAR file.
So just copy logback.xml to $CATALINA_BASE/lib and modify as desired.

[2015-05-05 20:20] may-bee commented on #212
I am not quite sure whether I am understanding the difference between solution 2 & 3.
My viewpoint on the difference is, that solution 2 depends on declared test data sets specified during implementation of the test, whereas solution 3 might generate test data randomly while execution.

If I understood this correctly, my comment mainly focuses on Builder-Pattern with solution 2 as you strictly spe

[2015-05-06 14:35] nelooo commented on #214
Maybe we should use a "standarized" way to organize the client. I know 2 base package in maven projects:
1- Based on standar way of Web Applications -> src/main/webapp path (Default path for maven-grunt-plugin).
2- An alternative way, in maven, defined by the maven-javascript-plugin, using the path -> src/main/js for javascript files and the html files in src/main/resources. This plugin offer arch

[2015-05-06 14:47] nelooo opened #215 "Create ear package for oasp projects"
Maybe would be a good idea to allow ear packaging in OASP project, due to requeriments for any customers.

This packaging will support specific deployment descriptor files and will include the existing war module in the sample application.

If you consider this issue, I can modify the sample application to allow ear packaging, maybe as a maven profile or maybe as a new project.

What do you think

[2015-05-06 19:21] Max-Goebel commented on #212
Solution 2 means, that you create XML (or JSON or any other interface format) files during test implementation and keep these files under version control. With solution 3 you implement Java code that creates the XML (or other interface format) data at runtime, e.g. with JAXB.

If you want to generate data randomly is a different question. With both solutions you could create random data, but I do

[2015-05-06 19:42] Max-Goebel opened #216 "Database initialization for testing"
How will we initialize database for testing? Which data format will we use to represent the data used to this initialization?
* Solution 1: Importing a database dump
* Solution 2: Creating test data with DB-Unit
* Solution 3: Creating test data with Flyway (this solution has been discussed [here](https://github.com/oasp/oasp4j/issues/153) )
* Solution 4: Using the CRUD-functions of the code under

[2015-05-06 19:44] Max-Goebel commented on #153
This ticket is replaced by the following tickets:
[Database initialization for test](https://github.com/oasp/oasp4j/issues/216)
[Data driven test](https://github.com/oasp/oasp4j/issues/207)
[Data for testing against interfaces](https://github.com/oasp/oasp4j/issues/212)

[2015-05-06 19:44] #153 closed

[2015-05-06 19:53] anmaso commented on #216
Since a batch functionality is considered also to be part of OASP, could it be also an alternative to do this initialization? or will it be overkill? kind of eating our own dog food :-)

[2015-05-06 19:56] amarinso commented on #216
Sorry for last comment author, I didn't realized I was logged in github with  other user.

[2015-05-07 07:04] MarcoRose commented on #215
Yes, it was agreed we want to have this.
But, can we do this additionally to a war deployment? If not it may be better to develop this feature in the devonfw-repo.

[2015-05-07 08:10] MarcoRose opened #217 "define and implement Metadata protocol between client and server"
preface:
 - Please define and discuss scope first - Most of the below mentioned metadata is already implemented.
 - Each metadata should be defined in the context of the component that uses this metadata (e.g. page is used by search-component, uuid is handled by logger)
- documentation as important as implementation here

cite from a yammer post by Angel: "define a clear protocol between the clien

[2015-05-07 08:28] MarcoRose opened #218 "Review design and completeness of validation concept"
Validation and error-handling shall be investigated to be sufficiently designed and implemented in the sample (server and clients)

documentation to be revised and aligned with examples.

[2015-05-07 09:06] amarinso commented on #217
As already stated by @hohwille there is already something implemented both for defining errors on server side and using a *CorrelationID* (the **uuid** on the proposal) on the headers of the request.

We can also add a timestamp on another header, or make the timestamp part of the CorrelationID identifier. Also the name of the original application could be useful if this CorrelationID travels acro

[2015-05-07 10:51] hohwille commented on #214
Thanks for your suggestions, however my concerns:

1. src/main/webapp is for a Java Webapp (WAR). We are talking about something else here so not suitable.
2. src/main/js is for JavaScript only. We are talking about an entire client application that itself has a complete structure of subfolders such as js, css, etc.

[2015-05-07 10:56] hohwille commented on #214
I was thinking about further separation instead of just ```src/main/client``` but
* separation by technology does not make real sense. You will not create two web-clients in parallel with different technology (e.g. sencha and angular). This would be so exotic edge case that does not have to be considered in a standard such as OASP.
* separation by channel also does not make that much sense. If you

[2015-05-07 12:33] hohwille commented on #217
On the server side the CorrelationID is just a string that is also added to MDC and therefore logged with every related log message. If the client/requester does not provide a CorrelationID a UUID is generated for the request.

[2015-05-07 12:37] hohwille commented on #217
For oasp4js we wanted to generate a uid on client startup valid for the session. Then we want to build correlation ID by added a simple request counter to that uid. So you have uid-req. In the logfiles (using logstash and elasticsearch) you can then correlate all log entries either by the exact correlation ID or e.g. just by uid and then see all log events send by one client session. Still you do

[2015-05-07 12:39] hohwille commented on #217
We are using javax.validation and the exception facade is transforming the entire constraint violations to JSON. So if you are providing the correct IDs in you validation annotations you could map that to the UI. Still I am quite concerned about too tight binding between server-side logic and client-logic. You can still have some mapping logic for that on the client side as well. OASP should be no

[2015-05-07 12:40] hohwille commented on #217
If you observe some detailed issue where the behavior in our sample app is not as you expect, then let us talk about that in detail.

[2015-05-07 12:42] MarcoRose commented on #217
great, a lot of ideas..

Let's find a assignee for the task, who can go into detail and work on the solution. Angel, do you have somebody in mind?

[2015-05-07 14:07] nelooo commented on #215
I think this will be additionally to war deployment, so I will start working on this issue in the OASP4J project.

If there is any problem to add to war deployment, I will change to devonfw-repo instead of oasp4j.

[2015-05-07 16:04] nelooo commented on #214
Ok, knowing your concerns and your points of view, I will work to solve them.

[2015-05-07 22:18] hohwille commented on #215
Using a profile as you suggested should work:
http://stackoverflow.com/questions/8247720/changing-packaging-based-on-active-profile-in-pom

The default should remain a WAR. However, we should be highly aware that in a real project you would decide for one of the two. Actually really using the profile beyond the demonstration purpose would be insane and you can read enough warnings in the maven doc

[2015-05-08 08:35] MarcoRose opened #219 "Using component facades"
From: Jörg Hohwiller

we are getting into very fundamental discussions about  architecture in general.
From what I learned and what you can find on the web and books about architecture a DAO is responsible for the operations around one persistence entity.
That is what we are doing in OASP: One DAO per Entity.
Then in simple CRUD we have two Use-Cases per Entity UcFind<Entity> and UcManage<Entity>.

[2015-05-08 09:29] henning-cg commented on #217
The security aspect with the format of the json response I was referring to is with respect to GET requests to the API which return a JSON array as the top-level object (see for example https://www.owasp.org/index.php/OWASP_AJAX_Security_Guidelines under the title "Always return JSON with an Object on the outside").

The recommendation is to always return a JSON object as the top-level object.

[2015-05-08 09:56] amarinso commented on #217
So to follow the OWASP recomendation we should wrap our responses to be always an object.

Maybe we can have an interceptor and convert the response to the format:

{ "result" : <**result**> }

But if used this way I don't know if we loose the ability to document the API with tools like swagger if they only introspect the Rest classes.

Alternatively a base generic WebDTO should be derived for the

[2015-05-08 12:54] amarinso commented on #219
I've done a survey on our current projects and all of them are over 50 entities, the biggest one (that we have control from Valencia office ) has been with 649 entities (a single app for a water distribution utility)

We haven't found problems even with projects of this size (just saying, it was a curiosity of mine knowing the size of our projects)

Establishing the "worst" case scenario as the ba

[2015-05-09 18:35] Max-Goebel commented on #216
Using the batch layer for initializing the database would be one variant of solution 4 (CRUD-functions). As we have on each layer CRUD-functionalities, we could use each layer for database initialization. But we should decide if we generally prefer the data access layer, logic layer, service layer or batch layer. But the higher the layer,  the lower the performance.

[2015-05-11 06:46] hohwille commented on #217
Thanks for pointing this out. I did not yet understand how the exploit is going to work? Can someone explain the actual vulnerability? In most cases we are already using explicit transfer objects. Only for simplicity in queries we simply return the list of hits. I was already suggesting to use a dedicated object that could also contain additional info such as a flag if the hits are complete or if

[2015-05-11 08:49] henning-cg commented on #217
Yes, I would recommend to revisit this, as this vulnerability was used, afaik, succesfully against Gmail some years ago, for example.

The problem lies in the fact that the only JSON structure which is also valid Javascript is if the JSON's top level object is an Array.

To attack an endpoint which returns such a JSON structure, it has to be reachable via GET. You then do the following steps:

- O

[2015-05-11 09:01] hohwille commented on #204
HHH-9042 is fixed:
https://hibernate.atlassian.net/browse/HHH-9042
in Beta1 that is released:
https://hibernate.atlassian.net/projects/HHH/versions/18450

Already beta2 is out and available:
http://repo1.maven.org/maven2/org/hibernate/hibernate-envers/5.0.0.Beta2/

We need to upgrade and properly test. After all it is still a beta and we have to take care. However, with the current bug and upgrade

[2015-05-11 13:39] MarcoRose commented on #217
While there already is a fruitful discussion on metadata I wanted to suggest a general idea how to document.

Please create a crosscut-chapter Metadata (maybe in https://github.com/oasp-forge/oasp4j-wiki/wiki/guide-service-layer) showing a table of all metadata that is (or will be) provided by oasp. List each metadata-attribute, provide a very brief (1 line) explanation what it is for and link it

[2015-05-12 07:41] MarcoRose opened #220 "replace Criteria API with dynamic queries using QueryDSL"

[2015-05-18 04:51] MarcoRose opened #221 "Simplify REST-usage at service layer"
Based on the discussion in yammer the REST usage in OASP4j is to be simplified.
HTTP-GET for single entity-get (optional for lists)
HTTP-DEL for single entity-delete (optional for lists)
HTTP-POST for all other usages like business use-case calls, write, replace, search with parameters
HTTP-PUT: not suggested

Example, Doc and Generator to be amended.
This proposal needs to be confirmed by the lea

[2015-05-18 04:56] MarcoRose opened #222 "extend Cobi-Gen to generate Service-Layer"
CobiGen needs to generate Service layer for all services in a component faceade

[2015-05-18 13:30] nelooo commented on #215
Finally I decided to create additional project to generate the ear packaging, due to allow applications customize the ear package and use all the power of enterprise applications (additional web applications, ejb modules, customize the enterprise application descriptior, …).

In order to simplify the solution, I modified the actual archetype to allow final user add ear packaging or not. To add thi

[2015-05-18 15:45] henning-cg commented on #217
I started to add a metadata section to our service layer guide. For now I only included correlation id, validation and pagination, as only the first one is currently implemented completely, and the other two are worked on.

The security aspect (only returning objects) might be solved once we have full pagination support baked in, as then all operations returning a list will probably use some kind

[2015-05-19 06:52] hohwille commented on #221
This would be totally fine for me and makes sense.
Maybe we would also find a generic addition later some time that would automatically transform GET requests with query parameters on collection URL to the according logic behind the according POST for the search by criteria, but this is just a nice to have and fully optional.

[2015-05-19 07:08] henning-cg commented on #218
The current state in OASP is, that the RestServiceExceptionFacade simply converts validation exceptions to a JSON object containing "message", "code" and "uuid" attributes.

Although the message string will contain a readable description of the validation errrors, it seems fragile to have to parse this on the client-side.

A possibility to enrich the information would be to add a new attribute whi

[2015-05-19 09:15] hohwille commented on #215
:+1: sounds great. Will you provide the change as PR?

[2015-05-19 12:50] may-bee opened #223 "Adjust CORS server configuration"
Developing an oasp4mobile approach, we currently facing problems with the cross-origin-policy.
This issue should collect all ongoing work on this.

Afterwards, we may want to have a security audit on the final configuration.

[2015-05-19 16:07] nelooo commented on #215
Done

[2015-05-19 16:35] MarcoRose commented on #215
Super! I guess you left some documentation in the Wiki too?

Viele Grüße
Marco
_______________________________________________________________________
Marco Rose
Custom Solution Development | Application Services

Capgemini | Offenbach
Phone: +49 69 9515 2228 – Mobile: +49 170 7913023
Fax: +496982901200 – e-mail: marco.rose@capgemini.com
www.de.capgemini.com<http://www.de.capgemini.com/>

Berliner

[2015-05-20 06:33] may-bee commented on #222
Please open such issues in the CobiGen tracker next time.
Thanks.

[2015-05-20 06:33] #222 closed

[2015-05-20 09:05] #215 closed

[2015-05-20 13:30] hohwille commented on #174
recent is already ```1.2.3.RELEASE``` this train is really moving fast and if we fail to follow, we will run into trouble. Hence we also need to move the version into a variable and allow overriding when the BOM gets imported. With our current release this mixin of the spring-boot-dependencies BOM is causing a lot of trouble if you also include more recent dependencies e.g. from spring-boot-starte

[2015-05-20 13:46] hohwille commented on #174
I locally upgraded and used variable now. Also I had to fix some jdbc URL for h2. Still I have this error:

	at org.hibernate.validator.messageinterpolation.ResourceBundleMessageInterpolator.<init>(ResourceBundleMessageInterpolator.java:172) ~[hibernate-validator-5.1.3.Final.jar:5.1.3.Final]

I can fix that but what kind of nonsense is that? hibernate-valiator-5.1.3.Final requires javax.el and ref

[2015-05-20 13:55] hohwille commented on #174
Problem with EL solved. Next error is ```BillDaoTest``` fails with this error:

	at org.springframework.test.context.transaction.TransactionalTestExecutionListener.beforeTestMethod(TransactionalTestExecutionListener.java:175)

That is looking really bad. Some bug in the spring release? I do not see why this test breaks now. The upgrade seems dangerous...

[2015-05-20 14:02] sobkowiak commented on #174
I had the same problem as I started this task. You must add the missing el dependency. I  haven't found other solution

[2015-05-20 14:04] sobkowiak commented on #174
I had the same problem. Due tovthis problem I haven't committed my changes. I had no time to try to solve this problem

[2015-05-20 15:03] dsanche2 commented on #218
I have done a pull request so we now list every validation error for each attribute individually, so it can be parsed on the client side.
Validation format example:
{
  "message": "validation message",
  "code": "validation code",
  "uuid":generated uuid,
  "errors" : {
     "fieldname1" : [
         "message1",
         "message2"
     ],
     "fieldname2" : [
         "message3"
     ]
  }
}

In

[2015-05-21 07:08] may-bee opened #226 "Travis failes due to circular dependency on bean injection"
Currently the component interface implementation as well as the components use case implementations inherit the use case interface. Thus, injecting a use case in the component facade implementation will lead to a circular dependency as you also can inject the component interface itself into the place of a use case field.

[2015-05-21 07:24] #226 closed

[2015-05-21 09:45] hohwille opened #228 "Spring DI with UC and facade"
As discussed in https://github.com/oasp/oasp4j/pull/225 and elsewhere we have some struggle with Spring DI (that seems to behave different in travis, etc.).
Maybe we should just use qualified injections using ```@Inject @Named("Uc...")``` and everything would be fine. I wanted to avoid it for simplicity but if this causes problems we should go for it.

Please note that there was also a discussion

[2015-05-21 09:47] hohwille commented on #228
I prefer my suggestion above which is easier and better IMHO.

[2015-05-21 09:48] hohwille commented on #228
I would also suggest to roll back the autowire config change:
https://github.com/oasp/oasp4j/commit/0b5ecafda5933731d22c96324bec9dbe503c55c0

[2015-05-21 09:48] hohwille commented on #226
I created #228 what seems more or less a duplicate.

[2015-05-21 09:51] hohwille commented on #228
As it seems there is an other approach already applied:
https://github.com/oasp/oasp4j/commit/af7b35741e6ea1f49d1b17336492ea32ec37f4e4

However, if we can use CDI standard as solution in preference to spring specific annotation this would be better as then the solution is portable for JEE.

[2015-05-21 10:31] amarinso commented on #228
In Java EE we have Qualifiers to further refine what bean to be injected. I see `@Primary ` as a Spring way to do it. But maybe it also supports the standard  `javax.inject.Qualifier` annotations.

[2015-05-21 12:15] hohwille opened #229 "Flyway DatabaseMigrator hardcoded to h2 data source"
I accidently noticed that DatabaseMigrator is actually hardwired to h2 data source what renders it pretty useless.
Setter has to take ```javax.sql.DataSource``` instead of ```org.h2.jdbcx.JdbcDataSource```.

We also have to be aware that there is FlywayAutoConfiguration in spring boot
https://github.com/spring-projects/spring-boot/blob/master/spring-boot-autoconfigure/src/main/java/org/springframe

[2015-05-21 12:16] hohwille commented on #229
Should be fixed with urgence...

[2015-05-21 14:00] henning-cg commented on #221
As posted by @MarcoRose, the proposal is to optionally allow GET for list loading, but to use POST for searching.

I would opt to see pagination as a sub-case of searching, and therefore to use also use POST for sending pagination parameters.

This would also be important to know in order to define the metadata protocol.

Any comments on this?

[2015-05-21 14:03] hohwille commented on #229
Done.

[2015-05-21 14:03] #229 closed

[2015-05-21 14:19] henning-cg commented on #217
In order to have a foundation for further discussion, I would like to propose the following definition for a basic protocol for rest communication between client and server:

## Request

* Body is always JSON (no surprise here)
* We do not define a special structure for normal entity creation or updates

### Requests including pagination / searching

[code]

## Response

### Successful responses (

[2015-05-21 14:48] hohwille opened #230 "avoid redundant version numbers in POMs"
Currently we have versions like ```spring.boot.version``` redundant/duplicated in POMs:

* https://github.com/oasp/oasp4j/blob/develop/pom.xml#L27
* https://github.com/oasp/oasp4j/blob/develop/oasp4j-templates/oasp4j-template-server/src/main/templates/archetype-resources/pom.xml#L12

We can try to solve this by using a variable in the second POM that gets replaced when the archetype is build. Howe

[2015-05-21 14:49] hohwille commented on #230
Maybe we do some additional ANT hack for that...

[2015-05-21 15:09] MarcoRose commented on #221
Yes, my understanding too, pagination is a cas of searching -> Use POST

[2015-05-21 15:17] hohwille commented on #228
https://github.com/oasp/oasp4j/pull/231
I tried it with ```@Named```
We could also create a Qualifier ```@UseCase``` what would avoid the String constants. Also worth a shot.

[2015-05-21 15:40] hohwille opened #232 "consider spring boot"
Spring boot can be used in several steps and levels.
Currently we are only using it for dependency management.

Next step is to use it as dev tool and runtime to launch, test and debug the app in IDE. This is bringing a bigger shift in how things are configured. For that a first step would be to add config and starter classes to oasp4j modules but keep spring boot optional. After that we can migra

[2015-05-21 15:48] sobkowiak commented on #230
I think you can define how the placeholder to be teplaced look like. You can define the delimiters [ and] for the placeholder, and next use something like this $[spring.boot.version].

[2015-05-21 15:54] sobkowiak commented on #230
Look at this sample https://github.com/apache/karaf/tree/master/archetypes/feature. There is a delimiter ^ defined in the archerype project pom and next a variable ^project.version^ is used in the archetype resources pom file

[2015-05-21 18:35] hohwille commented on #228
see https://github.com/oasp/oasp4j/pull/233
Can someone verify that this is better/simpler and we should merge the PR and we can close this issue?

[2015-05-21 20:10] tbialecki commented on #232
In which way it is not suitable ?
21 maj 2015 17:40 "Jörg Hohwiller" <notifications@github.com> napisał(a):

the app in IDE. This is bringing a bigger shift in how things are
configured. For that a first step would be to add config and starter
classes to oasp4j modules but keep spring boot optional. After that we can
migrate the sample app to spring boot and make it first choice.

for most custome

[2015-05-21 21:39] amarinso commented on #232
I think embracing Boot is coupling us too much to Spring. If we choose this path we may as well buy all the Spring bells and whistles like Spring Data...

I'm not against Spring but Java EE standards are becoming a valid alternative and I think we will see more customers going the standard way. If we deviate too much then little could be used for these engagements.

Going optional can also be a lo

[2015-05-22 05:21] amarinso commented on #221
Playing devil's advocate here I think a query to a resource with pagination could be valid for GET because all we are asking for is a projection of the compound "entity collection".

It is also true that for entities with more than a few results you always combine pagination with some kind of filtering.. and that way the GET query string becomes less useful for manually using it on development (on

[2015-05-22 06:57] hohwille commented on #221
@amarinso I think we already agreed to remove GET for queries. My suggestion was only if an easy generic and optional addon could be done, this will be helpful. We can move that out of the sample and the "Standard" entirely. No problem for me.

[2015-05-22 07:19] henning-cg commented on #217
@amarinso @hohwille @MarcoRose Any input on the proposal? :smile:

[2015-05-22 07:55] henning-cg opened #234 "AbstractGenericDao should use Integer for setting query timeout hint"
AbstractGenericDao#applyCriteria sets the query hint "javax.persistence.query.timeout" using a Long (as this is how AbstractSearchCriteria provides this value).

This causes hibernate to throw an exception because it expects this hint to be an Integer (see for example https://docs.jboss.org/hibernate/entitymanager/3.6/reference/en/html/configuration.html, searching for "javax.persistence.query.tim

[2015-05-22 07:58] amarinso commented on #217
I think if `pageSize` is nested on `pagination` property maybe it can be shortened to simply `size`

Also `totalEntries` could just be `total`

We should agree on this to unlock the tasks and also it has direct impact on the sample application that we have to properly adapt to the new protocol.

[2015-05-22 09:05] amarinso commented on #221
Sorry @hohwille I dindn't concluded that we were removing GET for all querys, but only for "more complicated" ones.

So, just to be sure, are you saing that we should change for example this from the sample app:

[code]

to this format?

[code]

[2015-05-22 09:58] hohwille commented on #140
As we now have new versions of flatten available, we shall give it another try.
Current state is in-acceptable if you both develop OASP and an OASP-based app on the same machine with a shared local maven repo as parent POMs with dev versions cause chaos.

[2015-05-22 10:08] hohwille commented on #204
Upgrade to hibernate 5 is critical can not not be done ad hoc... So far no clear schedule for an official (non beta) release is confirmed AFAIK.

[2015-05-22 10:15] amarinso commented on #232
I've read the already ongoing conversation on yammer and I think it's similar to my comment.

For development it can be very beneficial if it reduces the code-run-debug cycle. Can you share your experience with it?

Maybe we can even integrate on the cycle some tools like JRebel (wich has free license for [Open Source projects](http://zeroturnaround.com/software/jrebel/learn/licensing) ) or other

[2015-05-22 12:01] hohwille commented on #221
jep. exactly. However, your initial suggestion was to add some more segment to the path after the collection URL. Regular POSTs on the collection URL are typically a save operation. IMHO we should therefore separate this by URL and not only polymorphic. But everything else is perfect KISS.
WDYT?

[2015-05-22 12:14] #234 closed

[2015-05-22 13:09] hohwille commented on #217
I see an issue with totalEntries or total in general. This means you always have to run two queries - the regular query and a count query. That is a waste of performance that I dislike. If that info is required it should only be requested by the client upfront and only once and not for each page switch. IMHO we should only provide if the current page is complete or not (what can be easily provided

[2015-05-22 13:11] hohwille commented on #217
Here an example for infinite scrolling:
http://ui-grid.info/docs/#/tutorial/212_infinite_scroll

Also e.g. web-de or google do that for their mail clients...

[2015-05-22 13:12] hohwille commented on #217
Our "protocol" should support both use-cases: paged view and infinitve scrolling.
Your suggestion is fine. I only would remove the total and make that an extra and optional call.

[2015-05-22 13:16] hohwille commented on #230
@sobkowiak :+1: awesome. Thanks for the hint
https://github.com/apache/karaf/blob/master/archetypes/feature/pom.xml#L64
cool feature. This will be our solution...

[2015-05-22 13:21] hohwille commented on #232
@tbialecki

Many operating departments have standards and define how an application is deployed and operated. Most of the want to keep control over the container (e.g. tomcat or JEE app server) and keep responsibility for security updates.
I am totally aware of all the arguments that e.g. there is in the end no reasonable difference between a security update of tomcat compared to a security update

[2015-05-22 13:23] hohwille commented on #232
If you are doing dev-ops and also hosting the app you develop in the cloud e.g. cloud-foundry then you are fully fine with 100% spring-boot approach. There is nothing against it and some pros for it such as you are testing the same way in dev as you are running in prod.

[2015-05-22 13:35] amarinso commented on #217
Maybe if the request includes the `total`property then the server has to respond with the `total` thus only clients interested on synchronously wait and get this info.

[2015-05-22 13:47] hohwille opened #236 "Release oasp:1.2.0"
Create the release and stage to central.

[2015-05-22 15:33] hohwille commented on #232
We have good experience with it in our pilot. It strictly supports "conventions over configuration". On the other side it can get a little bit magic and as a non hard-core developer you might loose grip on what is going on behind the scenes. This is what i am observing critical. In general I think that you need some time for the shift as things get slightly different and if you are master in sprin

[2015-05-22 15:36] hohwille commented on #232
I already feel like heaven when I can avoid the ugly WTP and stop doing ```tomcat clean``` on every problem to ensure it is not WTP that got stuck. Just hit debug and run your app fast and reliable. Regular code hot-plugging already works.
When it comes to bigger changes I am still used to restart. But if you change annotations and startup related behavior then no tool like JRebel can help.
Howeve

[2015-05-22 17:21] tbialecki commented on #232
Spring boot app can be deployed either as jar(with embedded tomcat) or as
war app on any container/server.

2015-05-22 17:36 GMT+02:00 Jörg Hohwiller <notifications@github.com>:

[2015-05-22 22:19] amarinso commented on #221
So... how do you suggest to do it in this example, maybe this?

[code]

I still prefer something like
[code]

so you can have also things like

[code]

By the way, in order to add more "noise" to the conversation I've remembered something about GET vs POST that could be taken into consideration for extreme performance cases:

Also a case against GET with complex parameters is that as they are part

[2015-05-23 10:33] tbialecki commented on #221
First of all why are we not using resource oriented
urls(@Path("/order/findAdvanced"))?
GET /order
POST /order
DELETE /order

Secondly there is new trend(achritecture) called HATEOAS - contraint for
REST architecture.
https://spring.io/understanding/HATEOAS
Was it discussed ?

According to HTTP specification, POST is considered as request triggering
an action on server(which can change state of se

[2015-05-23 12:08] sobkowiak commented on #174
@hohwille,  could you push the changes you have already done in a separate branch? Perhaps someone can look at the problem  with the TransactionalTestExecutionListener

[2015-05-23 21:56] amarinso commented on #221
I've yet to see the advantage of a HATEOAS approach. I can not think how any of the systems I've built or know about, could have taken advantage of this. It's nice from a theoretical point of view thou.

But to have a productive framework I think we have to take a more practical approach.

Resource oriented urls in my opinion are fine when doing CRUDs but there are more corner cases than those alo

[2015-05-23 22:24] amarinso commented on #221
It seems there is an CXF extension that can be used for "advanced search querys" with nested beans support on the query params

http://cxf.apache.org/docs/jax-rs-basics.html#JAX-RSBasics-Parameterbeans

but again, not inside the standard :-(

[2015-05-23 22:39] amarinso commented on #218
I think we can close this issue as the patch is already accepted.

[2015-05-23 22:47] amarinso commented on #218
Too fast from my part. We still need the samples aligned and the documentation.

[2015-05-23 22:54] amarinso commented on #210
@tonqa do you think this issue can be close? did you have any other problem?

[2015-05-24 13:02] tonqa commented on #210
Thanks, the deployment worked with the hints you provided above.

[2015-05-24 13:02] #210 closed

[2015-05-25 13:03] hohwille commented on #228
All done now.

[2015-05-25 13:03] #228 closed

[2015-05-25 13:06] hohwille opened #237 "validation: update documentation and improve sample"
From #218 there are some little left overs that should be completed for the next release.

[2015-05-25 13:07] hohwille commented on #218
I will close this for 1.2.0 and we continue with #237 to complete.

[2015-05-25 13:07] #218 closed

[2015-05-25 13:44] hohwille opened #238 "build fails: Archetype IT failed: Cannot run additions goals."
I can not perform the release. The build fails:

[2015-05-25 13:45] hohwille commented on #238
IMHO this is caused by #224
However, I can not easily track it down at the moment... :(

[2015-05-25 13:48] nelooo commented on #238
I will try to solve the issue ASAP.

[2015-05-25 13:52] hohwille commented on #238
This is what maven says with ```-X```:

Archetype IT 'basic' failed: Cannot run additions goals.
Archetype IT 'enterprise' failed: Cannot run additions goals.
        at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:216)
        at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:153)
        at org.apache.maven.lifecycle.internal.MojoExecutor

[2015-05-25 13:54] hohwille commented on #238
@nelooo thanks for looking at this. I also tried to manually run the test projects in ```target/test-classes/projects/basic/project/basic``` and then ```mvn install``` succeeds. Strange...

[2015-05-25 13:57] hohwille commented on #238
Maven is actually not really helpful with his log and error messages.
This is what comes before the build error:

[INFO] Using following parameters for creating project from Archetype: oasp4j-template-server:1.2.0-SNAPSHOT
[INFO] ----------------------------------------------------------------------------
[INFO] Parameter: groupId, Value: archetype.it
[INFO] Parameter: artifactId, Value: basic
[IN

[2015-05-25 14:25] nelooo commented on #238
@hohwille , can you tell me how to reproduce the error?

I tryed to reproduce from master and develop in the oasp repo and in the fork with my feature branch without exit.

I execute the command mvn install over oasp4j project and all tests in oasp4j-templates succed. I get an error in the oasp4j-sample-core:

[INFO] ------------------------------------------------------------------------
[INFO] R

[2015-05-25 14:33] nelooo commented on #238
I execute the mvn install over oas4j-templates without error, too:

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] oasp4j-templates .................................. SUCCESS [1.193s]
[INFO] oasp4j-template-server ............................ SUCCESS [36.356s]
[INFO] -------------------------------------------------------------

[2015-05-25 18:41] hohwille commented on #238
Indeed strange.

Apache Maven 3.3.3 (7994120775791599e205a5524ec3e0dfe41d4a06; 2015-04-22T13:57:3
7+02:00)
Maven home: C:\Projekte\oasp\software\maven
Java version: 1.7.0_79, vendor: Oracle Corporation
Java home: C:\Projekte\oasp\software\java\jre
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 7", version: "6.1", arch: "x86", family: "windows"

[2015-05-25 18:52] hohwille commented on #238
I created a fresh clone and have the same error.
Perhaps a third one should give it a try and let us know.
I hate these ugly situations where errors are not reproducible.

[2015-05-25 20:44] amarinso commented on #238
I've tried on several Linux versions that I have and no errors.

What repo/branch are you cloning exactly?

[2015-05-25 21:19] nelooo commented on #238
I found the problem, is due of maven version.

I was using maven 3.1 (probably same of @amarinso). I upgrade to maven 3.2 and I reproduced the problem.

Now I will try to solve it.

[2015-05-25 21:24] amarinso commented on #238
@nelooo I'm using  the  same  version  of  maven  as @hohwille

[2015-05-25 22:10] nelooo commented on #238
That's true @amarinso, I reproduced the error due to a miss configuraion in maven 3.2.

After configuring maven 3.2 correctly I complete the mvn install.

I use maven 3.3.3 and I complete mvn install, so it's not due of maven version.

My conclusion was a mistake, I will further investigate in order to reproduce the error.

The other diff I found was de O.S. @amarinso and me use Unix systems and @

[2015-05-26 07:18] hohwille commented on #238
That would explain why there is no issue in travis or jenkins.

[2015-05-26 08:10] may-bee commented on #236
Is there any date of the release as I want to make some cleanups related to CORS implementation beforehand.

[2015-05-26 08:23] dsanche2 commented on #238
I have tried it in Windows 7 and it worked for me. That is my configuration:

Apache Maven 3.2.3 (33f8c3e1027c3ddde99d3cdebad2656a31e8fdf4; 2014-08-11T22:58:1
0+02:00)
Maven home: C:\oasp\software\maven
Java version: 1.7.0_67, vendor: Oracle Corporation
Java home: C:\oasp\software\java\jre
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 7", version: "6.1", arch: "x86", family: "

[2015-05-26 09:01] hohwille commented on #238
Jep. I can confirm that it works for me on windows with maven 3.2 (at least 3.2.3 and 3.2.5) but fails with 3.3 (at least 3.3.3). That is really crude... We should file a bug in maven. Probably not so easy to isolate the problem...

[2015-05-26 09:03] hohwille commented on #238
Marked as invalid as this is not an OASP bug but a maven bug. But leaving open until further clarified.

[2015-05-26 09:09] hohwille commented on #236
@may-bee you need to go to the milestones to see the date. It was planned for yesterday but did not yet happen due to #238. Probably today if I find the time.

[2015-05-26 10:07] may-bee commented on #236
Last time I had a look a the milestones, there were no date fixed. Maybe one or two weeks ago.

[2015-05-26 10:17] may-bee commented on #236
I reverted work in progress on the CORS server configuration to not break backward compatibility of the releases later on.
I would have worked on my own fork, but I needed an easy way of deploying the sample application.

Ready for release from my side.

[2015-05-26 10:37] may-bee commented on #238
maybe related to this https://issues.apache.org/jira/browse/MNG-5809 ?

[2015-05-27 07:48] hohwille commented on #236
Can you check what I have actually tagged and released? It seems that git works locally in this case and so your last commits missed the release. I will update release-documentation to make that clear and avoid that something like this can happen again.
Also use PRs instead of directly working of develop branch of the repo. I would even take away the permissions for that but unfortunately github t

[2015-05-28 08:27] hohwille commented on #221
We had various discussions about HATEOAS and decided against it. It is making something simple (REST) to something rather complex causing effort - so IMHO more like these overcomplicated WS-* stuff that finally killed SOAP. HATEOAS can make sense if you want to consider the entire world as your service-users. But we are not google or facebook and so it is not worth the extra effort and overhead.

[2015-05-28 08:32] hohwille commented on #221
We had a lot of discussions about GET vs. POST for criteria queries also.
An important argument from @amarinso that I agree on is development effort. Also security, logs, URL-Size-limits, mapping complex data-structure to get parameters, etc.
We decided that if we want to send actual objects from the client to the server that we want to use JSON and that means we do a POST (and we agreed on ignori

[2015-05-28 08:35] hohwille commented on #174
I already pushed the required changes that do not hurt onto develop.
So IMHO all you need to do is locally update the spring boot version.

[2015-05-28 12:16] tbialecki commented on #218
Sorry for writting it now, but i didn`t have time earlier.

This validation concept is only valid for forms. I think that this meta
protocol should also allow to pass some feedback from server like working,
success messages and so on.
The second think is, have you thought about i18n  in context of validation
?
I think we should return simple message keys instead of real messages from
server and th

[2015-05-28 12:45] hohwille commented on #218
jep. However, your suggestion does not work properly with JSR 303. The error message also needs to contain dynamic parameters. We have to ensure that the locale on the client is part of the metadata so the server locale for the request is in sync. Then the server can localize the messages and send plain strings. Everything else is simply too complex. The I18N concept of JSR 303 is not so great but

[2015-05-29 08:20] hohwille commented on #198
According to the roadmap, we have to wait until around August 2015 till we can migrate to JSON-B.
JSR 367 review is complete on 08 Sep, 2014